.coffee{
    position: absolute;
    top:422px;
    .coffee-bottom{
        background: #ebd8d0;
        width: 50px;
        height: 3px;
        position: relative;
        border-radius: 50%;
    }
    .coffee-cup{
        background: #ebd8d0;
        height: 25px;
        width: 30px;
        position: relative;
        z-index: 1;
        left: 10px;
        border-radius:5px 5px  10px 10px;
        &:after{
            content: "";
            display: inline-block;
            width: 8px;
            height: 10px;
            border: 2px solid #ebd8d0;
            border-radius: 50%;
            position: relative;
            left: 18px;
            top: 2px;
        }
    }
    .coffee-steam, .coffee-steam:before{
        text-decoration-line: overline underline;
        text-decoration-style: wavy;
        width:15px;
        height: 20px;
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        position: relative;
        top:0;
        left: 18px;
        border-color:transparent transparent transparent
        #828083;
    }
    .coffee-steam:before{
        content:"";
        display: inline-block;
        position: absolute;
        top: -6px;
        left: -5px;
        border-color:transparent
         #828083 transparent transparent;
    }
}