.computer{
    width: 145px;
    height: 100px;
    padding-top: 10px;
    background:#BFC0C0;
    position: absolute;
    top: 370px;
    box-shadow:
      inset 10px 0 50px rgb(70, 64, 70),
      inset -60px 0 120px rgb(153, 156, 156);
    border-radius: 10px;
    .apple-logo{
      margin: 0px auto;
      width: 70px;
      height: 70px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30%;
      background-image: url('https://www.transparentpng.com/thumb/apple-logo/AoKYpC-apple-logo-png-icon.png');
    }
}
