
.css-art{
    position: absolute;
    p{
        font-size:23px;
        font-family: 'Indie Flower', cursive;
        position: relative;
        color: black;
        z-index: 6;
        font-weight: bold;
    }
}
