/* iPad Pro => 1024 x 1366 # Vertical done */
@media only screen and (min-width: 1000px){
    .light-buttons{
        .light-off{
            height: 1600px;
        }
    }
    .postits{
        left: -170px;
        top:700px;
        p{
            padding-top: 150px;
        }
        .post-it-1, .post-it-2, .post-it-3, .post-it-4{
           width:350px;
           height: 350px;
           &:after{
                width:350px;
                height: 350px;
            }
        }
        .post-it-2{
            left: 800px;
        }
        .post-it-3{
            top: 490px;
        }
        .post-it-4{
            left: 800px;
            top:490px;
        }
    }

    .floor{
        width: 1200px;
    }

    .awssld, .bio-card, .contact-card{
        top: 790px;
        left: 100px;
        height: 750px !important;
    }

    .bio{
        .bio-img-container {
            img{
                margin-top: 130px;
            }
        }
    }

    .project-div{
        .codepen{
            padding-left: 50px;
            .codepen-div{
                height: 250px;
                .middle-spot{
                    top: -160px;
                }
            }
        }
    }

    .bio .text-container{
        padding: 100px 0 20px 60px;
    }

    .bio-img-container img{
        margin: 80px auto;
    }

    .text-container{
        padding-top: 100px;
        line-height: 40px;
    }
}