
/* iPhone 5/SE => 320 x 568 # Vertical  done
   iPad Touch => 320 x 568  # Verrical  done*/
@media only screen and  (min-width: 280px){
    .light-buttons{
        .light-off{
            width: 1150px;
            height: 2050px;
        }

        .light-off button, .light-on button  {
            left: 500px;
            width: 100px;
            height: 60px;
            font-size: 15px;
        }
    }

    .myname{
        top: 550px;
        left: 340px;
    }

    .css-art p{
        font-size: 20px;
        top: 620px;
        left: 450px;
    }

    .floor{
        height: 150px;
        width: 1150px;
        left: 0;
    }

    .postits{
        left: -470px;
        top:700px;
        p{
            padding-top: 200px;
        }
        .post-it-1, .post-it-2, .post-it-3, .post-it-4{
           width:400px;
           height: 400px;
           left: 600px;
           &:after{
                width:400px;
                height: 400px;
                top: -15px;
                left: -1px;
                box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
            }
        }
        .post-it-2{
            left: 1100px;
        }
        .post-it-3{
            top: 600px;
        }
        .post-it-4{
            left: 1100px;
            top:600px;
        }
    }

    .table{
        left: 250px;
    }

    .table-front{
       left: 260px;
    }

    .chair{
        left: 400px;
    }

    .pencil-jar{
        left: 650px;
    }

    .dog{
        left: 750px;
    }

    .girl{
        left: 420px;
    }

    .computer{
        left: 420px;
    }

    .coffee{
        left: 330px;
    }

    .plant-div{
        left: 250px;
    }

    .garbage-can{
        left: 150px;
    }

    .shelf{
        left: 230px;
    }

    .window{
        left: 750px;
    }

    .postits{
        p{
            padding-top: 150px;
        }
    }
    .awssld, .bio-card, .contact-card{
        top: 790px;
        left: 125px;
        width: 910px !important;
        height: 910px !important;
    }

    .bio{
        padding: 30px;
        .text-container{
            padding-top: 100px;
        }
    }

    .bio-img-container img{
        margin:150px auto;
        width: 100%;
    }

    .x{
        top: 10px;
        left: 850px;
    }

    .project-div{
        padding: 40px 5em;
        .codepen{
            padding-top: 30px;
            .codepen-div{
                height: 300px;
               .middle-spot{
                    top: -170px;
                    left: 60px;
               }
            }
        }
        .text-container{
            line-height: 35px;
        }
    }

    .contact-div{
      padding: 450px  100px;
    }
}

@media only screen and  (min-width: 280px) and (height: 653px){
    .light-buttons{
        .light-off{
            height: 2610px;
        }
    }
}