/* Galaxy S5 => 360 x 640 # Vertical done,
   Samsung Galaxy S9 / S9+ => 360 x 740 # Vertical done,
   Samsung Galaxy S8 / S8+ => 360 x 740 # Vertical done */
@media only screen and (min-width: 350px){
    .light-buttons{
      .light-off{
        width: 1100px;
        height: 1960px;
      }
    }

    .floor{
      width: 1100px;
    }

    .postits{
      left: -500px;
      top:700px;
    }

    .awssld, .bio-card, .contact-card{
      top: 800px;
      left: 100px;
      height: 900px !important;
    }

    .bio .text-container{
      padding-top: 100px;
    }

    .middle-spot{
      top: -190px;
    }

}

@media only screen and (min-width: 350px) and (height:740px){
  .light-buttons{
    .light-off{
      height: 2550px;
    }
  }
}