/* iPad Pro => 1024 x 1366 # Vertical done,
   iPad Air 1 & 2 => 1024 x 768 # Horizontal*/
@media only screen and (min-width: 1000px){
    .postits{
        top:700px;
        left: -440px;
    }

    .floor{
        width: 1200px;
    }

    .awssld, .bio-card, .contact-card{
        top: 840px;
        left: 50px;
    }

    .bio-img-container img{
        margin: 130px auto;
        width: 150%;
    }

    .project-div{
        padding-top: 5em;
        .codepen-div{
            height: 300px;
            .middle-spot{
                left: 90px;
                top: -170px;
            }
        }
    }

    .text-container{
        padding-top: 100px;
        line-height: 40px;
    }

    iframe{
          height: 30vh;
    }
}