/* iPad => 768 x 1024 # Vertical done,
   iPad Mini => 768 x 1024 # Vertical done,
   iPad Air 1 & 2 => 768 x 1024  # Vertical done*/
@media only screen and (min-width: 760px){
    .myname{
        left: 390px;
    }

    .css-art p{
        left: 460px;
    }

    .postits{
        left:-470px;
        top: 700px;
    }

    .awssld, .bio-card, .contact-card{
        top: 800px;
        left: 10px;
        width: 1130px !important;
        height: 1100px !important;
    }

    .bio-img-container img{
        margin: 140px auto;
        width: 160%;
    }

    .project-div{
        padding-top: 5em;
    }

    .text-container{
        padding: 110px 0 20px 100px;
        line-height: 35px;
    }

    iframe{
        height: 35vh;
    }
}