/* Samsung Galaxy Tab 10 => 800x 1280 # Vertical done */
@media only screen and (min-width: 800px){
    .light-buttons{
        .light-off{
            width: 1200px;
            height: 1950px;
        }
    }

    .postits{
        left: -270px;
        top:700px;
        p{
            padding-top: 200px;
        }
        .post-it-1, .post-it-2, .post-it-3, .post-it-4{
           width:500px;
           height: 500px;
           &:after{
                width:500px;
                height: 500px;
            }
        }
        .post-it-2{
            left: 900px;
        }
        .post-it-3{
            top: 650px;
        }
        .post-it-4{
            left: 900px;
            top:650px;
        }
    }

    .floor{
        width: 1200px;
    }

    .awssld, .bio-card, .contact-card{
        width: 1120px !important;
        height: 1050px !important;
        top: 800px;
        left: 50px;
    }

    .project-div{
        .codepen{
            padding-left: 50px;
            .codepen-div{
                width: 30%;
                height: 400px;
                .middle-spot{
                    left: 100px;
                    top:  -210px;
                }
            }
        }
        .text-container{
            line-height:40px;
        }
    }

    .skill-slide{
        .front-end, .back-end{
            img{
                height: 200px;
            }
        }
    }

    iframe{
      height: 450px;
    }

    .x{
        left: 1050px;
    }
}