 /* Samsung Galaxy S8 / S8+ => 740 x 360 # Horizontal done,
    Samsung Galaxy S9 / S9+ => 740 x 360 # Horizontal done*/
@media only screen and (min-width: 740px){
    .postits{
        left:-50px;
        top:700px;
        p{
            padding-top: 100px;
        }
        .post-it-1, .post-it-2, .post-it-3, .post-it-4{
            width:250px;
            height: 250px;
            left: 350px;
            &:after{
                width: 250px;
                height: 250px;
            }
        }

        .post-it-3{
            top: 400px;
            left: 350px;
        }

        .post-it-2{
            left: 650px;
        }

        .post-it-4{
            left: 650px;
            top: 400px;
        }
    }

    .awssld, .bio-card, .contact-card{
        top:790px;
        left: 160px;
        height: 560px !important;
    }

    .project-div{
        padding-top: 5em;
    }

    .text-container{
        padding: 10px 0 10px 10px;
    }

    iframe{
        height: 110vh;
    }
}