/* iPad Pro => 1366 x 1024 # Horizontal done */
@media only screen and (min-width: 1366px){
    .light-buttons{
        .light-off{
            height: 2050px;
        }
    }

    .floor{
        height: 405px;
    }

    .postits{
        left: -170px;
        top:950px;
        p{
            padding-top: 190px;
        }
        .post-it-1, .post-it-2, .post-it-3, .post-it-4{
           width:450px;
           height: 450px;
           &:after{
                width:450px;
                height: 450px;
            }
        }
        .post-it-2{
            left: 850px;
        }
        .post-it-3{
            top: 650px;
        }
        .post-it-4{
            left: 850px;
            top:650px;
        }
    }

    .awssld, .bio-card, .contact-card{
        top: 1050px;
        height: 1000px !important;
        left: 100px;
    }

    .skill-slide{
        .front-end, .back-end{
            img{
                height: 220px;
            }
        }
    }

    .x{
        left: 1150px;
    }
}