/* Apple Macbook Air 13-inch => 1440 x 900 done */
@media only screen and (min-width: 1400px){
    .light-buttons{
        .light-off{
            width: 1450px;
        }
    }

    .floor{
        width: 1450px;
    }

    .css-art p{
        left: 470px;
    }

    .postits{
        left:-300px;
    }

    .awssld, .bio-card, .contact-card{
        left: 120px;
        height: 1200px !important;
    }

    .bio-img-container img{
        margin: 100px auto;
    }

    .project-div{
        padding-top: 3em;
    }

    .bio .text-container{
        padding-top: 100px;
    }

    iframe{
        height: 45vh;
    }
}