/* iPhone 6/7/8 => 375 x 667 # Vertical done,
   iPhone X => 375 x 812 # Vertical done,
   iPhone XS => 375 x 812 # Vertical done,
   Galaxy s7 => 360 x 640  # Vertical done*/
@media only screen and (min-width: 375px){
    .light-buttons{
      .light-off{
         height: 2250px;
      }
    }

    .postits{
      top: 700px;
      left: -490px;
    }

    .awssld, .bio-card, .contact-card{
      top: 800px;
      left: 105px;
    }

    iframe{
      height: 70vh;
    }
}

@media only screen and (min-width: 375px) and (height: 812px){
  .light-buttons{
    .light-off{
       height: 2750px;
    }
  }
}
