/* iPad => 768 x 1024 # Vertical done,
   iPad Mini => 768 x 1024 # Vertical done,
   iPad Air 1 & 2 => 768 x 1024  # Vertical done*/
@media only screen and (min-width: 760px){
    .light-buttons{
        .light-off{
            height: 1550px;
        }
    }
    .myname{
        left: 390px;
    }

    .css-art p{
        left: 460px;
    }

    .postits{
        left: -170px;
        top:700px;
        p{
            padding-top: 150px;
        }
        .post-it-1, .post-it-2, .post-it-3, .post-it-4{
           width:350px;
           height: 350px;
           &:after{
                width:350px;
                height: 350px;
            }
        }
        .post-it-2{
            left: 800px;
        }
        .post-it-3{
            top: 490px;
        }
        .post-it-4{
            left: 800px;
            top:490px;
        }
    }

    .awssld, .bio-card, .contact-card{
        top: 800px;
        left: 120px;
        width: 930px !important;
        height: 750px !important;
    }

    .bio-img-container img{
        margin: 140px auto;
    }

    .bio .text-container{
        padding-top: 140px;
    }

    .project-div{
        .text-container{
            line-height: 25px;
        }
        .codepen{
            .codepen-div{
                height: 260px;
            }
        }
    }

    .x{
        left: 880px;
    }

    iframe{
        height: 300px;
    }
}