/* iPad Pro => 1366 x 1024 # Horizontal done */
@media only screen and (min-width: 1366px){
    .light-buttons{
        .light-off{
            width: 1366px;
            height: 2050px;
        }
    }

    .floor{
        width: 1366px;
        height: 405px;
    }

    .postits{
        left: -170px;
        top:950px;
        p{
            padding-top: 190px;
        }
        .post-it-1, .post-it-2, .post-it-3, .post-it-4{
           width:450px;
           height: 450px;
           &:after{
                width:450px;
                height: 450px;
            }
        }
        .post-it-2{
            left: 850px;
        }
        .post-it-3{
            top: 650px;
        }
        .post-it-4{
            left: 850px;
            top:650px;
        }
    }

    .awssld, .bio-card, .contact-card{
        top: 1050px;
        height: 1000px !important;
        left: 100px;
    }

    .bio .text-container{
        padding-top: 150px;
        line-height: 50px;
    }

    .bio-img-container img{
        margin-top: 150px;
    }

    .project-div{
        .codepen{
            padding-left: 100px;
            .codepen-div{
                height: 370px;
                .middle-spot{
                    top: -210px;
                    left: 100px;
                }
            }
        }
    }

    iframe{
        height:500px;
    }

    .front-end img, .back-end img{
        height: 20vh;
    }

    .x{
        left: 1150px;
    }
}