@media only screen and (min-width: 510px){
    .light-buttons{
        .light-off{
            height: 2100px;
        }
    }
    // .floor{
    //   top: 620px;
    //   width: 225%;
    //   height: 60vh;
    // }

    // .window{
    //   left: 950px;
    // }

    .postits{
      left: -400px;
      top:750px;
    }

    .awssld, .bio-card, .contact-card{
      top: 850px;
      left: 95px;
    }

    // iframe{
    //   height: 150vh;
    // }
}