@media only screen and (min-width: 510px){
    .light-buttons{
        .light-off{
            height: 2100px;
        }
    }

    .postits{
      left: -350px;
      top:750px;
      p{
          padding-top: 100px;
      }
      .post-it-1, .post-it-2, .post-it-3, .post-it-4{
         width:250px;
         height: 250px;
         &:after{
              width:250px;
              height: 250px;
          }
      }
      .post-it-2{
          left: 950px;
      }
      .post-it-3{
          top: 400px;
      }
      .post-it-4{
          left: 950px;
          top:400px;
      }
    }

    .awssld, .bio-card, .contact-card{
      top: 800px;
      left:200px;
      width: 750px !important;
      height: 600px !important;
    }

    .bio-card .text-container{
      line-height: normal;
      padding:20px 0 10px 40px;
    }

    .bio-img-container img{
        margin-top: 100px;
    }

    .x{
        left: 700px;
    }
}