/* iPhone XS => 812 x 375 # Horizontal done,
   iPhone X => 812 x 375 # Horizontal done,
   Pixel 2 XL => 823 x 411 # Horizontal done*/
@media only screen and (min-width: 812px){
    .light-buttons{
        .light-off{
            height: 1400px;
        }
    }
    .postits{
        left:-20px;
        top:720px;
        p{
            padding-top: 100px;
        }
        .post-it-1, .post-it-2, .post-it-3, .post-it-4{
            width:250px;
            height: 250px;
            left: 350px;
            &:after{
                width: 250px;
                height: 250px;
            }
        }

        .post-it-3{
            top: 390px;
        }

        .post-it-2{
            left: 650px;
        }

        .post-it-4{
            left: 650px;
            top: 390px;
        }
    }

    .awssld, .bio-card, .contact-card{
        top: 800px;
        left: 120px;
        width: 1000px !important;
        height: 560px !important;
    }

    .bio{
        padding: 10px;
    }
    .bio .text-container{
        padding-top: 60px;
        line-height: normal;
    }

    .bio-img-container img{
        margin: 0px auto;
    }

    .project-div{
        .codepen{
            .codepen-div{
                width: 29%;
                height: 200px;
                .middle-spot{
                    left: 70px;
                    top: -130px;
                }
            }
        }
        .text-container{
            line-height: 20px;
        }
    }

    .middle-spot{
        top: -180px;
        left: 80px;
    }

    iframe{
        height: 200px;
    }

    .x{
        left: 950px;
    }
}