/* Pixel 2 => 411 x 731 # Vertical done,
   Pixel 2 XL => 411 x 823 # Vertical done */
@media screen and (min-width: 411px){
    .light-off{
      width: 310%;
      height: 310vh;
    }

    .floor{
      width: 310%;
    }

    .awssld, .bio-card, .contact-card{
      top: 950px;
      left: 90px;
      width: 1115px !important;
    }
}