@media only screen and (min-width: 1024px) and (height:768px){
    .light-buttons{
        .light-off{
            width: 1160px;
        }
    }

    .floor{
        width: 1160px;
    }

    .postits{
        top: 750px;
        left: -465px;
    }

    .awssld, .bio-card, .contact-card{
        top: 840px;
        left: 20px;
    }
}