/* Galaxy S5 => 640 x 360  # Horizontal done,
   Galaxy s7 => 640 x 360 # Horizontal done,
   iPhone 6/7/8 => 667 x 375 # Horizontal done*/
@media only screen and (min-width: 600px){
    .light-buttons{
        .light-off{
            width: 1350px;
            height: 2100px;
        }
    }

    .postits{
        top: 750px;
        left:-350px;
    }

    .awssld, .bio-card, .contact-card{
        top: 840px;
        left: 140px;
    }

    iframe{
         height: 140vh;
    }
}