/* Samsung Galaxy Tab 10 => 1280 x 800 # Horizontal done*/
@media  only screen and (min-width: 1280px){
    .light-buttons{
        .light-off{
            width: 1300px;
        }
    }

    .css-art p{
        left:470px;
    }

    .floor{
        width: 1300px;
    }

    .postits{
        left: -100px;
    }

    .window{
        left: 900px;
    }

    .awssld, .bio-card, .contact-card{
        top:790px;
        left: 50px;
        width: 1200px !important;
    }

    .x{
        left: 1150px;
    }
}
