/* iPad Air 1 & 2 => 1024 x 768 # Horizontal */
@media only screen and (min-width: 1024px) and (height:768px){
    .light-buttons{
        .light-off{
            width: 1160px;
            height: 1700px;
        }
    }

    .floor{
        width: 1160px;
        height: 250px;
    }

    .postits{
        top: 800px;
        left: -165px;
    }

    .awssld, .bio-card, .contact-card{
        top: 890px;
        left: 80px;
    }

    .bio .text-container{
        padding-top: 170px;
    }
}