@media only screen and (min-width: 1024px) and (height:768px){
    .light-buttons{
        .light-off{
            width: 1160px;
        }
    }

    .floor{
        width: 1160px;
        height: 250px;
    }

    .postits{
        top: 800px;
        left: -165px;
    }

    .awssld, .bio-card, .contact-card{
        top: 890px;
        left: 80px;
    }
}