/* Apple Macbook Air 13-inch => 1440 x 900 done */
@media only screen and (min-width: 1400px){
    .light-buttons{
        .light-off{
            width: 1450px;
            height: 1800px;
        }
    }

    .floor{
        width: 1450px;
        height: 280px;
    }

    .css-art p{
        left: 470px;
    }

    .postits{
        left: 0px;
        top:850px;
        p{
            padding-top: 160px;
        }
        .post-it-1, .post-it-2, .post-it-3, .post-it-4{
           width:350px;
           height: 350px;
           &:after{
                width:350px;
                height: 350px;
            }
        }
        .post-it-2{
            left: 800px;
        }
        .post-it-3{
            top: 500px;
        }
        .post-it-4{
            left: 800px;
            top:500px;
        }
    }

    .awssld, .bio-card, .contact-card{
        left: 120px;
        top: 920px;
        height: 800px !important;
    }

    .bio{
        .bio-img-container {
            img{
                margin-top: 20px;
            }
        }
    }

    .project-div{
        padding-top: 3em;
        .codepen{
            .codepen-div{
                height: 300px;
                .middle-spot{
                    top: -180px;
                }
            }
        }
    }

    iframe{
        height: 350px;
    }
}