/* Galaxy S5 => 640 x 360  # Horizontal done,
   Galaxy s7 => 640 x 360 # Horizontal done,
   iPhone 6/7/8 => 667 x 375 # Horizontal done*/
@media only screen and (min-width: 600px){
    .light-buttons{
        .light-off{
            height: 1400px;
        }
    }

    .postits{
        top: 700px;
        left:-350px;
    }

    .awssld, .bio-card, .contact-card{
        top: 800px;
        left: 50px;
        width: 1000px !important;
        height: 550px !important;
    }

    .project-div{
        .codepen{
            .codepen-div{
                .middle-spot{
                    left: 80px;
                }
            }
        }
    }

    .x{
        left: 950px;
    }
}