@mixin box-shadow($browser){
    $browser-box-shadow: -2px 5px 14px -3px rgba(0,0,0,0.75);
}

.shelf{
    width: 150px;
    height: 20px;
    background: #A26877;
    position: absolute;
    top: 170px;
    box-shadow: -2px 5px 14px -3px rgba(0,0,0,0.75);
    @include box-shadow(-webkit);
    @include box-shadow(-moz);
  }