.light-buttons .light-off {
  position: absolute;
  background: rgba(9, 55, 99, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  z-index: 7;
}

.light-buttons button {
  position: absolute;
  -webkit-box-shadow: -5px -5px 10px 3px gray inset;
          box-shadow: -5px -5px 10px 3px gray inset;
  background: rgba(248, 248, 248, 0.5);
  border: 1px solid transparent;
  top: 20px;
  left: 600px;
  width: 100px;
  height: 50px;
  border-radius: 90px;
  font-weight: bold;
  padding: 10px;
  outline: none;
}

.light-buttons .light-off button {
  -webkit-box-shadow: -5px -5px 10px 3px #02427f inset;
          box-shadow: -5px -5px 10px 3px #02427f inset;
}

.myname {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  z-index: 6;
  font-family: 'Parisienne', cursive;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}

.css-art {
  position: absolute;
}

.css-art p {
  font-size: 23px;
  font-family: 'Indie Flower', cursive;
  position: relative;
  color: black;
  z-index: 6;
  font-weight: bold;
}

.clock {
  width: 180px;
  height: 180px;
  border: 15px solid #e0494a;
  background: white;
  position: absolute;
  top: 20px;
  left: 30px;
  border-radius: 50%;
  -webkit-box-shadow: -2px 5px 14px -3px rgba(0, 0, 0, 0.75);
          box-shadow: -2px 5px 14px -3px rgba(0, 0, 0, 0.75);
}

.clock .react-clock {
  position: relative;
  left: 0px;
  top: 0px;
}

.shelf {
  width: 150px;
  height: 20px;
  background: #A26877;
  position: absolute;
  left: 550px;
  top: 170px;
  -webkit-box-shadow: -2px 5px 14px -3px rgba(0, 0, 0, 0.75);
          box-shadow: -2px 5px 14px -3px rgba(0, 0, 0, 0.75);
}

.calendar {
  position: absolute;
  top: 220px;
  left: 75px;
  -webkit-box-shadow: -5px 3px 14px -3px rgba(0, 0, 0, 0.75);
          box-shadow: -5px 3px 14px -3px rgba(0, 0, 0, 0.75);
}

.calendar .month {
  width: 100px;
  height: 25px;
  background: #e0494a;
  color: white;
  font-weight: bold;
  padding-top: 3px;
}

.calendar .day {
  width: 100px;
  height: 50px;
  background: white;
  font-weight: bold;
  padding-top: 10px;
  font-size: 25px;
}

.book-holder li {
  width: 25px;
  height: 45px;
  position: relative;
  top: -45px;
  left: 5px;
  border-top: 0 solid transparent;
  border-right: 10px solid #5B8C8C;
  border-bottom: 10px solid #5B8C8C;
  border-left: 0 solid transparent;
}

.book-holder li:nth-child(2) {
  left: 120px;
  top: -90px;
  border-right: 0 solid transparent;
  border-bottom: 10px solid #5B8C8C;
  border-left: 10px solid #5B8C8C;
}

.book li {
  position: relative;
  top: -145px;
  left: 44px;
  width: 15px;
  height: 55px;
  background: #FFDB82;
  border-radius: 3px;
  -webkit-transform: rotate(205deg);
          transform: rotate(205deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 10px;
  padding-left: 3px;
}

.book li:nth-child(2) {
  top: -200px;
  left: 61px;
  color: white;
  background: #F2636A;
}

.book li:nth-child(3) {
  top: -255px;
  left: 78px;
  background: #FF8E8E;
}

.book li:nth-child(4) {
  top: -310px;
  left: 95px;
  background: #3B6A72;
  color: white;
}

.light {
  width: 100px;
  height: 50px;
  background: white;
  position: absolute;
  left: 750px;
  top: 20px;
  border-radius: 90px 90px 0 0;
  z-index: 6;
}

.light:before {
  width: 5px;
  height: 20px;
  content: "";
  display: inline-block;
  background: black;
  position: absolute;
  top: -20px;
  left: 47px;
}

.bulb {
  width: 50px;
  height: 20px;
  border-radius: 0 0 90px 90px;
  position: absolute;
  left: 775px;
  top: 53px;
  background: yellow;
  z-index: 2;
  -webkit-box-shadow: 1px 25px 34px 23px #c0c44e;
          box-shadow: 1px 25px 34px 23px #c0c44e;
}

.chair {
  width: 180px;
  height: 150px;
  position: absolute;
  top: 340px;
  left: 310px;
  z-index: -1;
  border-radius: 15px 15px 0 0;
  background: #1f1e1f;
}

.girl {
  position: absolute;
  top: 140px;
  left: 330px;
}

.girl .hair {
  width: 140px;
  height: 200px;
  z-index: -1;
  position: relative;
  background: #f8da67;
  left: 0px;
  top: 0px;
  border-radius: 90px 90px 35px 35px;
}

.girl .head {
  height: 135px;
  width: 100px;
  background: #dbaf9e;
  position: relative;
  left: 20px;
  top: -150px;
  border-radius: 0 0 60% 60%;
}

.girl .head:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 40px;
  top: -5px;
  left: -8px;
  position: absolute;
  background: #f8da67;
  border-radius: 0 0 100px 120px;
}

.girl .head:after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 40px;
  background: #f8da67;
  position: relative;
  top: -100px;
  left: 26px;
  border-radius: 0 0  90px 120px;
}

.girl .head .left-eye-brow, .girl .head .right-eye-brow {
  width: 25px;
  height: 6px;
  border: 1px solid #5A5353;
  border-color: #5A5353 transparent transparent transparent;
  border-width: 2px;
  position: relative;
  top: 40px;
  left: 15px;
  border-radius: 50%;
}

.girl .head .right-eye-brow {
  left: 62px;
  top: 34px;
}

.girl .head .left-eyelash li, .girl .head .right-eyelash li {
  width: 4px;
  height: 4px;
  border-left: 1px solid black;
  border-radius: 10px;
  position: relative;
  top: 27.7px;
  left: -21.5px;
  display: inline-block;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.girl .head .right-eyelash li {
  border-left: none;
  border-right: 1px solid black;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  top: 9px;
  left: 25px;
}

.girl .head .left-eye, .girl .head .right-eye {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  width: 16px;
  height: 10px;
  position: relative;
  top: 5px;
  left: 22px;
  border-radius: 10% 50%;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.girl .head .left-eye:after, .girl .head .right-eye:after {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  background: #705840;
  position: absolute;
  top: 0px;
  left: 3px;
  border-radius: 50%;
}

.girl .head .right-eye {
  top: -5px;
  left: 65px;
  border-radius: 50% 10%;
  border-left: none;
  border-right: 2px solid black;
}

.girl .head .cornea {
  width: 5px;
  height: 5px;
  background: black;
  position: relative;
  top: 1px;
  left: 4.5px;
  border-radius: 50%;
  z-index: 1;
}

.girl .head .cornea:before {
  display: inline-block;
  content: "";
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 1px;
}

.girl .head .left-ear, .girl .head .right-ear {
  width: 15px;
  height: 30px;
  background: #dbaf9e;
  position: absolute;
  top: 50px;
  left: -9px;
  border-radius: 50%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.girl .head .left-ear:before, .girl .head .left-ear:after, .girl .head .right-ear:before, .girl .head .right-ear:after {
  content: "";
  display: inline-block;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgba(115, 103, 74, 0.3) transparent rgba(115, 103, 74, 0.3) rgba(115, 103, 74, 0.3);
  width: 9px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 3px;
}

.girl .head .right-ear {
  left: 94px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.girl .head .left-ear:after, .girl .head .right-ear:after {
  border-color: rgba(115, 103, 74, 0.3) rgba(115, 103, 74, 0.3) transparent transparent;
  width: 3px;
  height: 5px;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  top: 16.8px;
  left: 6.4px;
}

.girl .head .right-ear:before {
  border-color: rgba(115, 103, 74, 0.3) rgba(115, 103, 74, 0.3) rgba(115, 103, 74, 0.3) transparent;
}

.girl .head .right-ear:after {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  border-color: rgba(115, 103, 74, 0.3) transparent transparent rgba(115, 103, 74, 0.3);
  top: 16.7px;
  left: 3.5px;
}

.girl .head .earing {
  width: 3px;
  height: 3px;
  background: #479265;
  border-radius: 50%;
  position: relative;
  top: 25px;
  left: 5px;
}

.girl .head .nose {
  height: 5px;
  width: 10px;
  background: #b37371;
  border-radius: 0 0 90px 90px;
  position: relative;
  left: 48px;
  top: 13px;
}

.girl .head .mouth {
  border: 4px solid #DF3B57;
  border-bottom: 5px solid #DF3B57;
  background: white;
  height: 15px;
  width: 30px;
  border-radius: 0 0 90px 90px;
  position: relative;
  top: 25px;
  left: 37px;
}

.girl .head .mouth:before, .girl .head .mouth:after {
  content: '';
  background: #DF3B57;
  display: inline-block;
  width: 12px;
  height: 5px;
  position: absolute;
  top: -6px;
  left: 0px;
  border-radius: 50% 90px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.girl .head .mouth:after {
  left: 10px;
  border-radius: 90px 50%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.girl .neck {
  width: 30px;
  height: 20px;
  background: #dbaf9e;
  z-index: 1;
  position: relative;
  left: 55px;
  top: -155px;
  border-radius: 0 0 15px 15px;
}

.girl .t-shirt {
  background: #DF3B57;
  width: 135px;
  height: 150px;
  position: relative;
  left: 5px;
  top: -170px;
  z-index: -1;
  border-radius: 40px 40px 0 0;
}

.girl .t-shirt:before, .girl .t-shirt:after {
  content: "";
  display: inline-block;
  background: rgba(109, 102, 103, 0.4);
  width: 3px;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 100px;
}

.girl .t-shirt:after {
  left: 30px;
}

.computer {
  width: 145px;
  height: 100px;
  padding-top: 10px;
  background: #BFC0C0;
  position: absolute;
  left: 330px;
  top: 370px;
  -webkit-box-shadow: inset 10px 0 50px #464046, inset -60px 0 120px #999c9c;
          box-shadow: inset 10px 0 50px #464046, inset -60px 0 120px #999c9c;
  border-radius: 10px;
}

.computer .apple-logo {
  margin: 0px auto;
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  background-image: url("https://www.transparentpng.com/thumb/apple-logo/AoKYpC-apple-logo-png-icon.png");
}

.pencil-jar {
  width: 45px;
  height: 55px;
  background: rgba(60, 43, 144, 0.1);
  position: absolute;
  left: 530px;
  top: 415px;
  border-radius: 0 0 10px 10px;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: rgba(60, 43, 144, 0.3);
}

.pencil-jar:before, .pencil-jar:after {
  content: "";
  display: inline-block;
  height: 35px;
  width: 3px;
  background: rgba(240, 230, 230, 0.3);
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 35px;
}

.pencil-jar:after {
  width: 3px;
  height: 3px;
  top: 45px;
}

.pencil-jar .eraser, .pencil-jar .eraser-2 {
  width: 6px;
  height: 5px;
  background: #df3b57;
  position: absolute;
  top: -25px;
  left: 39.9px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  border-radius: 1px 1px 0 0;
}

.pencil-jar .eraser:before, .pencil-jar .eraser-2:before {
  background: #8d8d8d;
  content: "";
  display: inline-block;
  width: 6px;
  height: 2.5px;
  position: absolute;
  top: 5px;
  left: 0px;
}

.pencil-jar .eraser-2 {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  left: 24.8px;
  top: -31px;
}

.pencil-jar .pencil, .pencil-jar .pencil-2 {
  width: 6px;
  height: 75px;
  background: #e9c84c;
  position: relative;
  bottom: 27.5px;
  left: 25px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  z-index: -1;
}

.pencil-jar .pencil:before, .pencil-jar .pencil:after, .pencil-jar .pencil-2:before, .pencil-jar .pencil-2:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid #dead96;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  top: 75px;
  left: 0px;
}

.pencil-jar .pencil:after, .pencil-jar .pencil-2:after {
  border-top: 4px solid black;
  border-left: 1.3px solid transparent;
  border-right: 1.3px solid transparent;
  left: 1.8px;
  top: 81px;
}

.pencil-jar .pencil-2 {
  bottom: 105px;
  left: 15px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.plant-div {
  position: absolute;
  left: 150px;
  top: 385px;
}

.plant-div .plant {
  position: relative;
  top: 90px;
}

.plant-div .plant li {
  position: relative;
  top: -53px;
  left: 28px;
  width: 20px;
  height: 25px;
  border-left: 1px solid #195532;
  background: #2c8651;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  border-radius: 10% 90px;
}

.plant-div .plant li:nth-child(2) {
  left: 38px;
  top: -83px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-box-shadow: -2px 5px 14px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 5px 14px -3px rgba(0, 0, 0, 0.75);
}

.plant-div .plant li:nth-child(3) {
  top: -103px;
  left: 48px;
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
  -webkit-box-shadow: -2px 5px 14px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 5px 14px -3px rgba(0, 0, 0, 0.75);
}

.plant-div .vase-top {
  width: 43px;
  position: relative;
  top: -15px;
  left: 26px;
  border-width: 5px;
  border-style: solid;
  border-color: #c4a393 transparent transparent transparent;
  z-index: 2;
}

.plant-div .vase-top:before {
  content: "";
  position: absolute;
  top: -12px;
  left: -5px;
  display: inline-block;
  width: 42.5px;
  height: 7px;
  background: #ddb8a6;
}

.plant-div .vase {
  width: 35px;
  height: 40px;
  position: relative;
  background: #ddb8a6;
  bottom: 26px;
  left: 30px;
  -webkit-clip-path: polygon(0 0, 100% 0, 92% 65%, 8% 65%);
          clip-path: polygon(0 0, 100% 0, 92% 65%, 8% 65%);
}

.table {
  width: 470px;
  height: 40px;
  background-color: #d4bf82;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  position: absolute;
  left: 140px;
  top: 470px;
  z-index: 1;
  -webkit-box-shadow: 0px 13px 10px -3px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 13px 10px -3px rgba(0, 0, 0, 0.6);
}

.table-front {
  width: 450px;
  height: 230px;
  position: absolute;
  top: 505px;
  left: 150px;
  background-color: #d4bf82;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  -webkit-box-shadow: 5px 14px 12px -3px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 14px 12px -3px rgba(0, 0, 0, 0.6);
}

.table-front:before, .table-front:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 15px;
  position: absolute;
  top: 230px;
  left: 410px;
  background: black;
  border-radius: 5px;
  background: #141414;
  background: -webkit-gradient(left top, right top, color-stop(0%, #141414), color-stop(18%, #3d3c3d), color-stop(32%, #131313), color-stop(40%, #131313));
  background: -webkit-gradient(linear, left top, right top, from(#141414), color-stop(18%, #3d3c3d), color-stop(32%, #131313), color-stop(40%, #131313));
  background: linear-gradient(to right, #141414 0%, #3d3c3d 18%, #131313 32%, #131313 40%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#131313', GradientType=1 );
}

.table-front:after {
  left: 50px;
}

.garbage-can {
  width: 100px;
  height: 130px;
  background: #393e41;
  position: absolute;
  left: 40px;
  top: 550px;
  border-radius: 5px 5px 20px 20px;
  -webkit-box-shadow: -3px 4px 14px -3px rgba(0, 0, 0, 0.75);
          box-shadow: -3px 4px 14px -3px rgba(0, 0, 0, 0.75);
}

.garbage-can:before {
  display: inline-block;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  width: 95px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: 1px;
}

.dog {
  position: absolute;
  left: 620px;
  top: 600px;
}

.dog p {
  position: absolute;
  bottom: 220px;
  left: 30px;
  font-weight: bold;
  color: #EB194B;
  font-family: 'Cute Font', cursive;
}

.dog .dog-head {
  width: 65px;
  height: 70px;
  position: relative;
  left: 15px;
  background: #ddc78e;
  border-radius: 50% 50% 40% 40%;
}

.dog .dog-head:hover {
  cursor: pointer;
}

.dog .dog-head:hover > .dog-tongue {
  -webkit-animation-name: dog-tongue;
          animation-name: dog-tongue;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.dog .dog-head .dog-ear li {
  position: relative;
  background: #ddc78e;
  width: 15px;
  height: 30px;
  left: 10px;
  top: -10px;
  border-radius: 40%;
}

.dog .dog-head .dog-ear li:before {
  content: "";
  display: inline-block;
  background: rgba(70, 64, 49, 0.8);
  width: 5px;
  height: 10px;
  border-radius: 40%;
}

.dog .dog-head .dog-ear li:nth-child(2) {
  left: 40px;
  top: -40px;
}

.dog .dog-head .dog-eyes li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  position: relative;
  top: -33px;
  left: 12px;
}

.dog .dog-head .dog-eyes li:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  position: relative;
  top: -6px;
  left: 2px;
}

.dog .dog-head .dog-eyes li:after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background: white;
  position: relative;
  top: -10px;
  left: -4px;
  border-radius: 50%;
}

.dog .dog-head .dog-eyes li:nth-child(2) {
  left: 42px;
  top: -43px;
}

.dog .dog-head .dog-nose {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  position: relative;
  top: -40px;
  left: 26px;
  z-index: 2;
}

.dog .dog-head .dog-mouth li {
  position: relative;
  top: -55px;
  left: 13px;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid black;
  border-radius: 50%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  background: #ddc78e;
  z-index: 1;
}

.dog .dog-head .dog-mouth li:nth-child(2) {
  left: 30px;
  top: -75px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.dog .dog-head .dog-tongue {
  width: 15px;
  height: 20px;
  position: relative;
  background: #9e5662;
  top: -85px;
  left: 25px;
  border-radius: 0 0 50% 50%;
}

.dog .dog-body {
  width: 70px;
  height: 80px;
  background: #ddc78e;
  position: relative;
  left: 12px;
  top: -20px;
  border-radius: 50% 50% 40% 40%;
  z-index: -1;
  -webkit-box-shadow: -3px 4px 14px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 4px 14px -3px rgba(0, 0, 0, 0.75);
}

.dog .dog-body .collar {
  width: 50px;
  height: 30px;
  border-top: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 5px solid red;
  border-left: 0 solid transparent;
  border-radius: 50%;
  position: relative;
  left: 10px;
  top: -5px;
}

.dog .dog-body .collar:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background: white;
  position: absolute;
  top: 30px;
  left: 21px;
  border-radius: 50%;
}

.dog .dog-body .collar .heart {
  width: 7px;
  height: 7px;
  background: red;
  position: relative;
  top: 34px;
  left: 24px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.dog .dog-body .collar .heart:before, .dog .dog-body .collar .heart:after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  position: absolute;
  top: -3px;
  left: 0px;
  background: red;
  border-radius: 50%;
}

.dog .dog-body .collar .heart:after {
  top: 0px;
  left: 3px;
}

.dog .dog-legs li {
  position: relative;
  top: -45px;
  left: 25px;
  width: 20px;
  height: 30px;
  background: #ddc78e;
  border-radius: 0 0 40px 40px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent rgba(70, 64, 49, 0.6) rgba(70, 64, 49, 0.6) rgba(70, 64, 49, 0.6);
}

.dog .dog-legs li:nth-child(2) {
  position: relative;
  left: 50px;
  top: -75px;
}

.dog .dog-legs li:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 17px;
  left: -1px;
  background: rgba(70, 64, 49, 0.9);
  width: 18px;
  height: 10px;
  border-radius: 50%;
}

@-webkit-keyframes dog-tongue {
  0% {
    height: 20px;
  }
  20% {
    height: 15px;
  }
  30% {
    height: 10px;
  }
  40% {
    height: 5px;
  }
}

@keyframes dog-tongue {
  0% {
    height: 20px;
  }
  20% {
    height: 15px;
  }
  30% {
    height: 10px;
  }
  40% {
    height: 5px;
  }
}

.coffee {
  position: absolute;
  left: 250px;
  top: 422px;
}

.coffee .coffee-bottom {
  background: #ebd8d0;
  width: 50px;
  height: 3px;
  position: relative;
  border-radius: 50%;
}

.coffee .coffee-cup {
  background: #ebd8d0;
  height: 25px;
  width: 30px;
  position: relative;
  z-index: 1;
  left: 10px;
  border-radius: 5px 5px  10px 10px;
}

.coffee .coffee-cup:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 10px;
  border: 2px solid #ebd8d0;
  border-radius: 50%;
  position: relative;
  left: 18px;
  top: 2px;
}

.coffee .coffee-steam, .coffee .coffee-steam:before {
  -webkit-text-decoration-line: overline underline;
          text-decoration-line: overline underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
  width: 15px;
  height: 20px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  position: relative;
  top: 0;
  left: 18px;
  border-color: transparent transparent transparent #828083;
}

.coffee .coffee-steam:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -6px;
  left: -5px;
  border-color: transparent #828083 transparent transparent;
}

.postits {
  position: absolute;
  top: 0px;
  left: 10px;
}

.postits .post-it-1, .postits .post-it-2, .postits .post-it-3, .postits .post-it-4 {
  width: 200px;
  height: 200px;
  background: #f9f0ae;
  position: absolute;
  top: 100px;
  left: 800px;
  border-bottom-right-radius: 80px 15px;
  -webkit-box-shadow: inset 10px 0 50px  #f7e485, inset -60px 0 120px #fff8d3;
          box-shadow: inset 10px 0 50px  #f7e485, inset -60px 0 120px #fff8d3;
}

.postits .post-it-1:after, .postits .post-it-2:after, .postits .post-it-3:after, .postits .post-it-4:after {
  content: "";
  display: inline-block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -15px;
  left: -1px;
  z-index: -1;
  -webkit-box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.4);
}

.postits .post-it-2 {
  left: 1150px;
}

.postits .post-it-3 {
  top: 400px;
}

.postits .post-it-4 {
  left: 1150px;
  top: 400px;
}

.postits p {
  font-family: 'Cute Font', cursive;
  font-size: 30px;
  padding-top: 80px;
  font-weight: bold;
  color: #EB194B;
}

.postits p:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: #3c2b90;
  cursor: pointer;
}

.postits .flower {
  position: absolute;
  top: -10px;
  left: -10px;
  -webkit-animation: rotate-flower 8s infinite linear;
          animation: rotate-flower 8s infinite linear;
  width: 90px;
  height: 90px;
}

.postits .flower .middle {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 34px;
  top: 29px;
  background: #fc1;
  border-radius: 50%;
  z-index: 1;
}

.postits .flower li {
  position: absolute;
  top: 17px;
  left: 25px;
  width: 25px;
  height: 20px;
  background: rgba(255, 87, 138, 0.7);
  border-radius: 90px 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.postits .flower li:nth-child(2) {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  top: 18px;
  left: 40px;
}

.postits .flower li:nth-child(3) {
  top: 30px;
  left: 45px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.postits .flower li:nth-child(4) {
  top: 42px;
  left: 39px;
  -webkit-transform: rotate(95deg);
          transform: rotate(95deg);
}

.postits .flower li:nth-child(5) {
  top: 42px;
  left: 24px;
  -webkit-transform: rotate(155deg);
          transform: rotate(155deg);
}

.postits .flower li:nth-child(6) {
  top: 29px;
  left: 17px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.postits .file {
  position: absolute;
  top: 15px;
  left: 15px;
}

.postits .file:before, .postits .file:after {
  content: "";
  position: absolute;
  top: -8px;
  left: 25px;
  display: inline-block;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 2px solid #6f6d70;
}

.postits .file:after {
  border-top: 2px solid #6f6d70;
  border-right: 2px solid #6f6d70;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  top: -8px;
  left: 29px;
  width: 10px;
  border-radius: 0 5px 0 0;
}

.postits .file .file-top {
  position: relative;
  width: 23px;
  height: 12px;
  border: 2px solid #6f6d70;
  border-right: none;
  border-radius: 5px 0 0 0;
}

.postits .file .file-top:before, .postits .file .file-top:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 20px;
  height: 15px;
  border: 2px solid #6f6d70;
  border-left: none;
  border-top: none;
  top: -7px;
  left: 17px;
}

.postits .file .file-top:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -4px;
  right: -13px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid #6f6d70;
}

.postits .file .file-bottom {
  position: relative;
  top: -1px;
  width: 41px;
  height: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent #6f6d70 #6f6d70 #6f6d70;
  border-radius: 0 0 5px 5px;
}

.postits .file .file-bottom .opening-tag, .postits .file .file-bottom .opening-tag:before, .postits .file .file-bottom .slash, .postits .file .file-bottom .closing-tag, .postits .file .file-bottom .closing-tag:before {
  width: 5px;
  position: relative;
  left: 5px;
  height: 10px;
  border-right: 2px solid #6f6d70;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.postits .file .file-bottom .opening-tag:before, .postits .file .file-bottom .closing-tag:before {
  content: "";
  display: inline-block;
  -webkit-transform: rotate(75deg);
          transform: rotate(75deg);
  position: absolute;
  left: 4px;
  top: 1px;
}

.postits .file .file-bottom .closing-tag {
  top: -24px;
  left: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.postits .file .file-bottom .closing-tag:before {
  -webkit-transform: rotate(95deg);
          transform: rotate(95deg);
  left: -5px;
  top: 1px;
}

.postits .file .file-bottom .slash {
  height: 16px;
  left: 15px;
  top: -10px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.postits .lamb {
  position: absolute;
  top: 20px;
  left: 20px;
}

.postits .lamb .lamb-top {
  width: 50px;
  height: 50px;
  background: rgba(255, 140, 12, 0.5);
  border-radius: 100px 90px 100px 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: background 1s;
  transition: background 1s;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.postits .lamb .lamb-top:hover {
  background: #ff8c0c;
  -webkit-box-shadow: -3px -4px 30px 12px #d3db60;
  box-shadow: -3px -4px 30px 12px #d3db60;
}

.postits .lamb .lamb-top .lamb-inside {
  width: 0px;
  height: 0px;
}

.postits .lamb .lamb-top .lamb-inside li {
  position: relative;
  top: 5px;
  left: -17px;
  width: 20px;
  height: 80px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 50%;
  -webkit-transition: border-color 1s;
  transition: border-color 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.postits .lamb .lamb-top .lamb-inside li:nth-child(1):before {
  position: absolute;
  top: 0px;
  left: 4px;
  content: "";
  display: inline-block;
  width: 29px;
  height: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}

.postits .lamb .lamb-top .lamb-inside li:nth-child(2) {
  left: -4px;
  top: -61px;
}

.postits .lamb .lamb-top .lamb-inside li:nth-child(2):before, .postits .lamb .lamb-top .lamb-inside li:nth-child(2):after {
  position: absolute;
  top: 3px;
  left: -5px;
  content: "";
  display: inline-block;
  height: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.postits .lamb .lamb-top .lamb-inside li:nth-child(2):after {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: none;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  left: 2px;
  top: 4px;
}

.postits .lamb .lamb-top .lamb-ligth:hover {
  background: #ff8c0c;
}

.postits .lamb .lamb-top .lamb-ligth li {
  position: absolute;
  top: -18px;
  left: 25px;
  width: 1px;
  height: 10px;
  background: rgba(255, 140, 12, 0.3);
  -webkit-transition: background 2s;
  transition: background 2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.postits .lamb .lamb-top .lamb-ligth li:nth-child(2) {
  top: -7px;
  left: 50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.postits .lamb .lamb-top .lamb-ligth li:nth-child(3) {
  top: 20px;
  left: 60px;
  -webkit-transform: rotate(85deg);
          transform: rotate(85deg);
}

.postits .lamb .lamb-top .lamb-ligth li:nth-child(4) {
  top: 45px;
  left: 50px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.postits .lamb .lamb-top .lamb-ligth li:nth-child(5) {
  top: 55px;
  left: 30px;
  -webkit-transform: rotate(170deg);
          transform: rotate(170deg);
}

.postits .lamb .lamb-top .lamb-ligth li:nth-child(6) {
  top: 20px;
  left: -10px;
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
}

.postits .lamb .lamb-top .lamb-ligth li:nth-child(7) {
  top: -3px;
  left: 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.postits .lamb .lamb-bottom {
  width: 10px;
  height: 10px;
  background: black;
  position: relative;
  top: 5px;
  left: 20px;
  border-radius: 0 0  5px 5px;
}

.postits .email {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 10px;
  height: 10px;
  border-left: 20px solid #43456b;
  border-right: 20px solid #43456b;
  border-bottom: 18px solid transparent;
  border-top: 18px solid #fdb341;
}

.postits .email:before, .postits .email:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 2px;
  top: -36px;
  left: -19.5px;
  border-bottom: 18px solid #fdb341;
  border-left: 18.5px solid transparent;
  border-right: 18.5px solid transparent;
}

.postits .email:after {
  border-bottom: 24px solid #585a7c;
  border-left: 19px solid transparent;
  border-right: 19px solid transparent;
  top: -6px;
  left: -20px;
}

.postits .email span {
  color: white;
  font-size: 15px;
  position: relative;
  top: -28px;
  left: -6px;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes rotate-flower {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotate-flower {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  z-index: -9;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background: #84cce4;
}

ul li {
  list-style: none;
}
/*# sourceMappingURL=style.css.map */