*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  z-index: -1;
  width: 100%;
  height: 150vh; 
  margin: 0;
  padding: 0;
  background:  
  #d8a08d;
}

ul li{
  list-style: none;
}

.circle{
  padding: 50px;
}
.hair{
  width: 140px;
  height: 200px;
  z-index: -1;
  position: absolute;
  background: #f8da67;
  left: 330px;
  top: 110px;
  border-radius:90px 90px 35px 35px ;
}

.head{
  height: 135px;
  width: 100px;
  background: #DDAD96;
  margin-left: 300px;
  margin-top: 100px;
  border-radius: 0 0 60% 60%;
}

.head:before{
  content:"";
  display: inline-block;
  width: 60px;
  height: 40px;
  top: -10px;
  left: -25px;
  position: relative;
  background: #f8da67;
  border-radius: 0 0 100px 120px;
}

.head:after{
  content: "";
  display: inline-block;
  width: 50px;
  height:45px;
  background: #f8da67;
  position: absolute;
  top: 140px;
  left: 405px;
  border-radius: 0 0  90px 120px;
}

.left-eye-brow, .right-eye-brow{
  width: 23px;
  height: 6px;
  border: 1px solid #5A5353;
  border-color: #5A5353 transparent transparent transparent;
  border-width: 2px;
  position: relative;
  top: 10px;
  left: 18px;
  border-radius: 50%;
  
}

.right-eye-brow{
  left: 63px;
  top: 4px;
}

.left-eyelash ul li, .right-eyelash ul li{
  width: 4px;
  height: 4px;
  border-left: 1px solid black;
  border-radius: 10px;
  position: relative;
  top: -5px;
  left: -21.5px;
  display: inline-block;
  transform: rotate(-10deg);
}

.right-eyelash ul li{
  border-left: none;
  border-right: 1px solid black;
  transform: rotate(25deg);
  top: -24px;
  left: 25px;
}

.left-eye, .right-eye{
  box-sizing: border-box;
  background: white;
  width: 16px; 
  height: 10px;
  position: relative;
  top: -28px;
  left: 22px;
  border-radius: 10% 50%;
  border-top: 2px solid black;
  /* border-bottom: 2px solid black; */
  border-left: 2px solid black;
}


.right-eye{
  top: -38px;
  left: 65px;
  border-radius: 50% 10%;
  border-left: none;
  border-right: 2px solid black;
}

.left-eye:after, .right-eye:after{
  display: inline-block;
  content:"";
  width: 8px;
  height: 8px;
  background: #705840;
  position: relative;
  top: -12.5px;
  left: 0px;
  border-radius: 50%;

}

.cornea{
  width: 5px;
  height: 5px;
  background: black;
  position: relative;
  top:1px;
  left: 4.5px;
  border-radius: 50%;
  z-index: 1;
}

.cornea:before{
  display: inline-block;
  content:"";
  width: 2px;
  height: 2px; 
  background: white;
  border-radius: 50%;
  position: relative;
  top: -13px;
  left: -1px;
}

.nose{
  height:5px;
  width: 10px;
  background: #b37371;
  border-radius: 0 0 90px 90px;
  position: relative;
  left: 48px;
  top: -24px;
  
}


.mouth{
  border: 4px solid #DF3B57;
  border-bottom: 5px solid #DF3B57;
  background: white;
  height:15px;
  width:30px;
  border-radius: 0 0 90px 90px;
  position: relative;
  top: -12px;
  left: 37px;
}

.mouth:before, .mouth:after{
  content:'';
  background: #DF3B57;
  display: inline-block;
  width: 12px;
  height: 5px;
  position: absolute;
  top: -6px;
  left: 0px;
  border-radius: 50% 90px;
  transform: rotate(-20deg);
  /* border-radius:50% 90px 0 0 ; */
}

.mouth:after{
  left: 10px;
  border-radius: 90px 50%;
  transform: rotate(20deg);
}


.neck{
  width: 30px;
  height: 20px;
  background:  #DDAD96;
  z-index: 1;
  position: relative;
  left: 335px;
  top:-5px;
  border-radius: 0 0 15px 15px
}

.t-shirt{
  background: #DF3B57;
  width: 120px;
  height: 90px;
  position: relative;
  left: 288px;
  top: -16px;
  z-index: -1;
  border-radius: 40px 40px 0 0;
}

.t-shirt:before, .t-shirt:after{
  content: "";
  display: inline-block;
  background:rgba(109,102,103, 0.4);
  width: 3px;
  height: 30px;
  position: relative;
  top: 50px;
  left: -30px;
}

.t-shirt:after{
  left: 30px;
}

.message{
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 59% 75%, 23% 100%, 32% 75%, 0% 75%);
  position: absolute;
  background: white;
  width: 250px;
  height: 150px;
  left: 500px;
  top: 40px;
  font-size: 20px;
  padding: 30px;
  border-radius: 10px;
  box-sizing: border-box;
}

.computer{
  width: 145px;
  height: 100px;
  padding-top: 10px;
  background:#BFC0C0;
  position: relative;
  left:275px;
  top: -80px;
  box-shadow:
    inset 10px 0 50px rgb(70, 64, 70),
    inset -60px 0 120px rgb(153, 156, 156);
  border-radius: 10px; 

}

.apple-logo{
  margin: 0px auto;
  width: 70px;
  height: 70px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  background-image: url('https://www.transparentpng.com/thumb/apple-logo/AoKYpC-apple-logo-png-icon.png');
}

.table{
  width: 470px;
  height: 40px;
  background: #744f25;
  position: relative;
  left: 90px;
  top: -80px;
  z-index: 1;
}

.table-front{
  width:450px;
  height: 230px;
  background:  #a68866;
  position: absolute;
  top: 425px;
  left: 150px;
  
}

.chair{
  width: 180px;
  height: 150px;
  background:#0A3200;
  position: absolute;
  top:280px;
  left: 310px;
  z-index: -1;
  border-radius: 15px 15px 0 0 ;
}

.coffee-bottom{
 background: #fdf8f7;
 width: 50px;
 height: 5px;
 position: absolute;
 top: 410px;
 left: 250px;
 border-radius: 50%;
 
}

.coffee-cup{
  background: #fdf8f7;
  height: 25px;
  width: 30px;
  position: absolute;
  z-index: 1;
  top: 388px;
  left: 260px;
  border-radius:5px 5px  10px 10px;
}

.coffee-cup:after{
  content: "";
  display: inline-block;
  width: 8px;
  height: 10px;
  border: 2px solid #fdf8f7;
  border-radius: 50%;
  position: relative;
  left: 18px;
  top: 2px;
}


.coffee-steam, .coffee-steam:after{
  text-decoration-line: overline underline;
  text-decoration-style: wavy;
  width:15px;
  height: 20px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  top:365px;
  left: 273px;

  border-color:transparent transparent transparent 
  #545b5f;

}

.coffee-steam:after{
  content:"";
  display: inline-block;
  position: relative;
  top: -8px;
  left: -11px;
  border-color:transparent 
  #545b5f transparent transparent;
}

.post-it-1, .post-it-2, .post-it-3, .post-it-4{
   width: 200px;
   height: 200px;
   background: #f9f0ae;
   position: absolute;
   top: 100px;
   left: 800px;
   border-bottom-right-radius: 80px 15px;
   box-shadow:
    inset 10px 0 50px  #f7e485,
    inset -60px 0 120px #fff8d3;

   

}

.post-it-2{
  left: 1150px;
}

.post-it-3{
  top: 400px;
}

.post-it-4{
  left: 1150px;
  top: 400px;
}

.post-it-1:after, .post-it-2:after, .post-it-3:after , .post-it-4:after{
  content: "";
  display: inline-block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -15px;
  left: -1px;
  z-index: -1;
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
}

.postits p{
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  padding-top: 80px;
  font-weight: bold;
  color: #EB194B;
}

.post-it-1 p:hover, .post-it-2 p:hover, .post-it-3 p:hover, .post-it-4 p:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  color: rgb(60,43,144);
  cursor: pointer;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}





.bio, .coder-cat{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 4em;
}

.coder-cat{
justify-content: space-between; 
padding-right: 4em;
height: 45vh;

}
.bio img{
 width: 30%;
 height: auto;
}

.coder-cat img{
width: 40%;


}
.bio .text, .coder-cat .text{
/* width: auto; */
  color: white;
  padding-left: 5em;

}

.x{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0;
  right: 0;
  border-radius: 0 0 0 10px;
  font-size: 15px;
  
}

#flying-2{

box-sizing: border-box;
width: 100%; 
background-color: rgba(2,151,219, 0.8) !important;
} 

#flying-2 .text{
 box-sizing: border-box;
 margin: 0;
 text-align: center;

}

#flying-2 img{
float: left;
height: 20vh;
box-sizing: border-box;
margin-top: 0;
width: 50%;
}

.h3{
margin: 0;
padding: 0;
}

.text-container{
position: relative;
box-sizing: border-box;
width: auto;

 height: 15vh;
 overflow: scroll;

}


.awssld__content{
background-color: rgba(239,166,172, 0.8) !important; 
border-radius: 15px;
padding: 0 !important;
}


.awssld__bullets{
position: relative !important;
bottom: 40px !important;
}

.ruby-img{
 width: 100%;
}

.rails-img, .redux-img{
width: 80%;
}

.css-img{
height: 75vh;
}

.mq-img, .sqlite-img{
width: 90%;
}

.heroku-img{
  height: 75vh;
}

.linked-in-div{
padding: 5em 10em;
/* padding: 50px 50px 50px 150px; */
margin: 50px auto;
display: flex;


}

.linked-in-div a{
display: block;
width: 100%;
}

.linked-in-div a img{
width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
.linked-in-div a img:hover {
  animation: img-spin infinite 1s linear;
}
}

@keyframes img-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
