.App {
  text-align: center;
  color:red;
  background-image: url('./images/background-4.jpeg');
  height: 150vh;
  background-repeat: no-repeat;
  background-size: contain;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  opacity: 0;

}

.visible{
  opacity: 1;
  border: 1px solid black;
  width: 250px;
  height: 250px;
  margin: 500px auto;
  background-color: red;
}

.test-one{
  
}