*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  z-index: -1;
  width: 100%;
  /* height: 150vh;  */
  margin: 0;
  padding: 0;
  background:  
  #84cce4;
}

ul li{
  list-style: none;
}

.border{
  padding: 50px;
}

.myname{
  position: absolute;
  top: 20px;
  left:800px;
  font-family: 'Parisienne', cursive;
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 3px 0px #b2a98f,
  0px 14px 10px rgba(0,0,0,0.15),
  0px 24px 2px rgba(0,0,0,0.1),
  0px 34px 30px rgba(0,0,0,0.1);
  transition: letter-spacing 1s;
 
  transition-timing-function: linear;
}

.myname:hover{
  letter-spacing: 18px;

}
.clock{
  width: 180px; 
  height: 180px;
  border: 15px solid #e0494a;
  background: white;
  position: absolute;
  top: 20px;
  left: 30px;
  border-radius: 50%;
  -webkit-box-shadow: -2px 5px 14px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 5px 14px -3px rgba(0,0,0,0.75);
box-shadow: -2px 5px 14px -3px rgba(0,0,0,0.75);
}

.react-clock{
  position: relative;
  left: 0px;
  top: 0px;
}

.shelf{
  width: 150px;
  height: 20px;
  background: #A26877;
  position: absolute;
  left: 550px;
  top: 170px;
  -webkit-box-shadow: -2px 5px 14px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 5px 14px -3px rgba(0,0,0,0.75);
box-shadow: -2px 5px 14px -3px rgba(0,0,0,0.75);
}

.calendar{
  position: absolute;
  top: 220px;
  left: 75px;
  -webkit-box-shadow: -5px 3px 14px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 3px 14px -3px rgba(0,0,0,0.75);
box-shadow: -5px 3px 14px -3px rgba(0,0,0,0.75);
}

.month{
  width: 100px;
  height: 25px;
  background:  #e0494a;
 color: white;
 font-weight: bold;
 padding-top: 3px;
}

.day{
  width: 100px;
  height: 50px;
  background: white;
  font-weight: bold;
  padding-top: 10px;
  font-size: 25px;
}
.book-holder ul li {
  width: 25px;
  height: 45px;
  position: relative;
  top: -45px;
  left: 5px;
  border-top: 0 solid transparent;
  border-right: 10px solid #5B8C8C;
  border-bottom: 10px solid #5B8C8C;
  border-left: 0 solid transparent;
}

.book-holder ul li:nth-child(2){
  left: 120px;
  top: -90px;
  border-right: 0 solid transparent;
  border-bottom: 10px solid #5B8C8C;
  border-left: 10px solid #5B8C8C;
}

.book ul li{
 position: relative;
 top: -145px;
 left: 44px;
 width:15px;
 height: 55px;
 background: #FFDB82;
 border-radius: 3px;
 transform: rotate(205deg);
 writing-mode: vertical-lr;
 font-size: 10px;
 padding-left: 3px;
 
}


.book ul li:nth-child(2){
  top: -200px;
  left: 61px;
  color: white;
  background: #F2636A
}


.book ul li:nth-child(3){
  top: -255px;
 left: 78px;
 background: #FF8E8E;
}

.book ul li:nth-child(4){
  top: -310px;
  left: 95px;
  background: #3B6A72;
  color: white;
}


.chair{
  width: 180px;
  height: 150px;
  position: absolute;
  top:340px;
  left: 310px;
  z-index: -1;
  border-radius: 15px 15px 0 0 ;
  background: #1f1e1f;
}

.hair{
  width: 140px;
  height: 200px;
  z-index: -1;
  position: absolute;
  background: #f8da67;
  left: 330px;
  top: 160px;
  border-radius:90px 90px 35px 35px ;
}


.head{
  height: 135px;
  width: 100px;
  background: #dbaf9e;
  position: absolute;
  left:350px;
  top: 200px;
  border-radius: 0 0 60% 60%;
}

.head:before{
  content:"";
  display: inline-block;
  width: 60px;
  height: 40px;
  top: -5px;
  left: -8px;
  position: absolute;
  background: #f8da67;
  border-radius: 0 0 100px 120px;
}

.head:after{
  content: "";
  display: inline-block;
  width: 50px;
  height:40px;
  background: #f8da67;
  position: relative;
  top: -100px;
  left: 26px;
  border-radius: 0 0  90px 120px;
}

.left-eye-brow, .right-eye-brow{
  width: 25px;
  height: 6px;
  border: 1px solid #5A5353;
  border-color: #5A5353 transparent transparent transparent;
  border-width: 2px;
  position: relative;
  top: 40px;
  left: 15px;
  border-radius: 50%;
  
}

.right-eye-brow{
  left: 62px;
  top: 34px;
}

.left-eyelash ul li, .right-eyelash ul li{
  width: 4px;
  height: 4px;
  border-left: 1px solid black;
  border-radius: 10px;
  position: relative;
  top: 27.7px;
  left: -21.5px;
  display: inline-block;
  transform: rotate(-10deg);
}

.right-eyelash ul li{
  border-left: none;
  border-right: 1px solid black;
  transform: rotate(25deg);
  top: 9px;
  left: 25px;
}

.left-eye, .right-eye{
  box-sizing: border-box;
  background: white;
  width: 16px; 
  height: 10px;
  position: relative;
  top: 5px;
  left: 22px;
  border-radius: 10% 50%;
  border-top: 2px solid black;
  /* border-bottom: 2px solid black; */
  border-left: 2px solid black;
}


.right-eye{
  top: -5px;
  left: 65px;
  border-radius: 50% 10%;
  border-left: none;
  border-right: 2px solid black;
}

.left-eye:after, .right-eye:after{
  display: inline-block;
  content:"";
  width: 8px;
  height: 8px;
  background: #705840;
  position: absolute;
  top: 0px;
  left: 3px;
  border-radius: 50%;

}

.cornea{
  width: 5px;
  height: 5px;
  background: black;
  position: relative;
  top:1px;
  left: 4.5px;
  border-radius: 50%;
  z-index: 1;
}

.cornea:before{
  display: inline-block;
  content:"";
  width: 2px;
  height: 2px; 
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 1px;
}

.left-ear, .right-ear{
  width: 15px;
  height: 30px;
  background: #dbaf9e;
  position: absolute;
  top: 50px;
  left: -9px;
  border-radius: 50%;
  transform: rotate(-5deg);
}

.right-ear{
  left: 94px;
  transform: rotate(5deg);
}

.left-ear:before, .left-ear:after, .right-ear:before, .right-ear:after{
  content: "";
  display: inline-block;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgba(115,103,74, 0.3) transparent rgba(115,103,74, 0.3)rgba(115,103,74, 0.3);
  width: 9px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 3px;
 
}

.left-ear:after, .right-ear:after{
  border-color: rgba(115,103,74, 0.3)  rgba(115,103,74, 0.3) transparent transparent ;
  width: 3px;
  height: 5px;
  transform: rotate(-8deg);
  top: 16.8px;
  left: 6.4px;
}

.right-ear:before{
  border-color: rgba(115,103,74, 0.3) rgba(115,103,74, 0.3)rgba(115,103,74, 0.3) transparent ;
}

.right-ear:after{
  transform: rotate(8deg);
  border-color: rgba(115,103,74, 0.3) transparent   transparent rgba(115,103,74, 0.3)  ;
  top: 16.7px;
  left: 3.5px;
}

.earing{
  width: 3px;
  height: 3px;
  background: #479265;
 border-radius: 50%;
 position: relative;
 top: 25px;
 left: 5px;
}


.nose{
  height:5px;
  width: 10px;
  background: #b37371;
  border-radius: 0 0 90px 90px;
  position: relative;
  left: 48px;
  top: 13px;
  
}

.mouth{
  border: 4px solid #DF3B57;
  border-bottom: 5px solid #DF3B57;
  background: white;
  height:15px;
  width:30px;
  border-radius: 0 0 90px 90px;
  position: relative;
  top: 25px;
  left: 37px
}

.mouth:before, .mouth:after{
  content:'';
  background: #DF3B57;
  display: inline-block;
  width: 12px;
  height: 5px;
  position: absolute;
  top: -6px;
  left: 0px;
  border-radius: 50% 90px;
  transform: rotate(-20deg);
  /* border-radius:50% 90px 0 0 ; */
}

.mouth:after{
  left: 10px;
  border-radius: 90px 50%;
  transform: rotate(20deg);
}


.neck{
  width: 30px;
  height: 20px;
  background:  #dbaf9e;
  z-index: 1;
  position: absolute;
  left: 385px;
  top:330px;
  border-radius: 0 0 15px 15px
}

.t-shirt{
  background: #DF3B57;
  width: 135px;
  height: 150px;
  position: absolute;
  left: 334px;
  top: 340px;
  z-index: -1;
  border-radius: 40px 40px 0 0;
}

.t-shirt:before, .t-shirt:after{
  content: "";
  display: inline-block;
  background:rgba(109,102,103, 0.4);
  width: 3px;
  height: 100px;
  position: relative;
  top: 50px;
  left: -30px;
}

.t-shirt:after{
  left: 30px;
}

.message{
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 59% 75%, 23% 100%, 32% 75%, 0% 75%);
  position: absolute;
  background: white;
  width: 250px;
  height: 150px;
  left: 500px;
  top: 40px;
  font-size: 20px;
  padding: 30px;
  border-radius: 10px;
  box-sizing: border-box;
}

.computer{
  width: 145px;
  height: 100px;
  padding-top: 10px;
  background:#BFC0C0;
  position: absolute;
  left:330px;
  top: 370px;
  box-shadow:
    inset 10px 0 50px rgb(70, 64, 70),
    inset -60px 0 120px rgb(153, 156, 156);
  border-radius: 10px; 

}

.apple-logo{
  margin: 0px auto;
  width: 70px;
  height: 70px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  background-image: url('https://www.transparentpng.com/thumb/apple-logo/AoKYpC-apple-logo-png-icon.png');
}

.pencil-jar{
  width: 45px;
  height: 55px;
  background: rgba(60,43,144, 0.1);
  position: absolute;
  left: 530px;
  top: 415px;
  border-radius: 0 0 10px 10px;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: rgba(60,43,144, 0.3)
}

.pencil-jar:before, .pencil-jar:after{
  content: "";
  display: inline-block;
  height: 35px;
  width: 3px;
  background: rgba(240,230,230, 0.3);
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 35px;
}

.pencil-jar:after{
  width: 3px;
  height: 3px;
  top: 45px;
}

.eraser, .eraser-2{
  width: 6px;
  height: 5px;
  background: #df3b57;
  position: absolute;
  top: -25px;
  left: 39.9px;
  transform: rotate(25deg);
  border-radius: 1px 1px 0 0 ;
}

.eraser-2{
  transform: rotate(15deg);
  left: 24.8px;
  top: -31px;
}

.eraser:before, .eraser-2:before{
  background: #8d8d8d;
  content: "";
  display: inline-block;
  width: 6px;
  height: 2.5px;
  position: absolute;
  top: 5px;
  left: 0px;
}

.pencil, .pencil-2{
  width: 6px;
  height: 75px;
  background: #e9c84c;
  position: relative;
  bottom: 27.5px;
  left: 25px;
 transform: rotate(25deg);
 z-index: -1;
}

.pencil-2{
  bottom: 105px;
  left: 15px;
  transform: rotate(15deg);
}

.pencil:before, .pencil:after, .pencil-2:before, .pencil-2:after{
  content: "";
  display:inline-block;
  width: 0;
  height:0;
  border-top: 10px solid #dead96;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  top: 75px;
  left: 0px;
}

.pencil:after, .pencil-2:after{
  border-top: 4px solid black;
  border-left: 1.3px solid transparent;
  border-right: 1.3px solid transparent;
  left:1.8px;
  top: 81px;
}

.table{
  width: 470px;
  height: 40px;
  /* background: #815136; */
  background-color: #d4bf82;
background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  position: absolute;
  left: 140px;
  top: 470px;
  z-index: 1;
  -webkit-box-shadow: 0px 13px 10px -3px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 13px 10px -3px rgba(0,0,0,0.6);
  box-shadow: 0px 13px 10px -3px rgba(0,0,0,0.6);
}

.vase{
  width: 35px;
  height: 40px;
  position: absolute;
 background: #ddb8a6;
 bottom: 26px;
 left: 30px;
 clip-path: polygon(0 0, 100% 0, 92% 65%, 8% 65%);
}

.vase-top{
  width: 43px;
  position: absolute;
  top: -26px;
  left: 26px;
  border-width: 5px;
  border-style: solid;
  border-color: #c4a393 transparent transparent transparent;
 z-index: 2;
}

.vase-top:before{
  content: "";
  position: absolute;
  top: -12px;
  left: -5px;
  display: inline-block;
  width: 42.5px;
  height: 7px;
  background: #ddb8a6;
}

.plant ul li{
position: relative;
top: -53px;
left: 28px;
width: 20px;
height:25px;
border-left: 1px solid #195532;
background: #2c8651;
transform: rotate(15deg);
border-radius: 10% 90px ;
}

.plant ul li:nth-child(2){
 left: 38px;
 top: -83px;
 transform: rotate(35deg);
 -webkit-box-shadow: -2px 5px 14px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 5px 14px -3px rgba(0,0,0,0.75);
box-shadow: -2px 5px 14px -3px rgba(0,0,0,0.75);
}

.plant ul li:nth-child(3){
top: -103px;
left: 48px;
transform: rotate(55deg);
-webkit-box-shadow: -2px 5px 14px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 5px 14px -3px rgba(0,0,0,0.75);
box-shadow: -2px 5px 14px -3px rgba(0,0,0,0.75);
}
.table-front{
  width:450px;
  height: 230px;
  /* background:  #c5a754; */
  position: absolute;
  top: 505px;
  left: 150px;
  background-color: #d4bf82;
background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
-webkit-box-shadow: 5px 14px 12px -3px rgba(0,0,0,0.6);
-moz-box-shadow: 5px 14px 12px -3px rgba(0,0,0,0.6);
box-shadow: 5px 14px 12px -3px rgba(0,0,0,0.6);
}


.table-front:before, .table-front:after{
  content: "";
  display: inline-block;
   width: 20px;
   height: 15px;
   position: absolute;
   top: 230px;
   left: 410px;
   background: black;
   border-radius: 5px;
   background: rgba(20,20,20,1);
   background: -moz-linear-gradient(left, rgba(20,20,20,1) 0%, rgba(61,60,61,1) 18%, rgba(19,19,19,1) 32%, rgba(19,19,19,1) 40%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(20,20,20,1)), color-stop(18%, rgba(61,60,61,1)), color-stop(32%, rgba(19,19,19,1)), color-stop(40%, rgba(19,19,19,1)));
   background: -webkit-linear-gradient(left, rgba(20,20,20,1) 0%, rgba(61,60,61,1) 18%, rgba(19,19,19,1) 32%, rgba(19,19,19,1) 40%);
   background: -o-linear-gradient(left, rgba(20,20,20,1) 0%, rgba(61,60,61,1) 18%, rgba(19,19,19,1) 32%, rgba(19,19,19,1) 40%);
   background: -ms-linear-gradient(left, rgba(20,20,20,1) 0%, rgba(61,60,61,1) 18%, rgba(19,19,19,1) 32%, rgba(19,19,19,1) 40%);
   background: linear-gradient(to right, rgba(20,20,20,1) 0%, rgba(61,60,61,1) 18%, rgba(19,19,19,1) 32%, rgba(19,19,19,1) 40%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#131313', GradientType=1 );
   
}

.table-front:after{
  left: 50px;
}

.garbage-can{
  width: 100px;
  height: 130px;
  background: #393e41;
  position: absolute;
  left: 40px;
  top: 550px;
  border-radius: 5px 5px 20px 20px;
  -webkit-box-shadow: -3px 4px 14px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 4px 14px -3px rgba(0,0,0,0.75);
box-shadow: -3px 4px 14px -3px rgba(0,0,0,0.75);
}

.garbage-can:before{
  display: inline-block;
  content: '';
  background: rgba(0,0,0, 0.5);
  width:95px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: 1px;
 
}

.dog{
  position: absolute;
  left: 620px;
  top: 600px;
}

.dog-head{
  width:65px;
  height: 70px;
  position: relative;
  left: 15px;
  background: #ddc78e;
  border-radius:50% 50% 40% 40% ;
}

.dog p{
  position: absolute;
  bottom: 220px;
  left: 30px;
  font-weight: bold;
  color: #EB194B;
  font-family: 'Cute Font', cursive;
}
.dog-ear ul li{
  position: relative;
  background: #ddc78e;
  width: 15px;
  height: 30px;
  left: 10px;
  top: -10px;
  border-radius: 40%;

}

.dog-ear ul li:before{
  content: "";
  display: inline-block;
  background:rgba(70,64,49, 0.8);
  width: 5px;
  height: 10px;
  border-radius: 40%;
}

.dog-ear ul li:nth-child(2){
  left: 40px;
  top: -40px;
}

.dog-eyes ul li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  position: relative;
  top: -33px;
  left: 12px;
}

.dog-eyes ul li:before{
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  position: relative;
  top: -6px;
  left: 2px;
}

.dog-eyes ul li:after{
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background: white;
  position: relative;
   top: -10px;
   left: -4px;
   border-radius: 50%;
}

.dog-eyes ul li:nth-child(2){
  left: 42px;
  top: -43px;
}

.dog-nose{
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  position: relative;
  top: -40px;
  left: 26px;
  z-index: 2;
}

.dog-mouth ul li{
position: relative;
top: -55px;
left: 13px;
width: 20px; 
height: 20px;
border-bottom: 2px solid black;
border-radius: 50%;
transform: rotate(15deg);
background: #ddc78e;
z-index: 1;
}


.dog-mouth ul li:nth-child(2){
 left: 30px;
 top: -75px;
 transform: rotate(-15deg);
}

.dog-tongue{
  width: 15px;
  height: 20px;
  position: relative;
  background: #9e5662;
  top: -85px;
 left: 25px;
 border-radius: 0 0 50% 50%;
}

.dog-head:hover{
  cursor: pointer;
}
.dog-head:hover > .dog-tongue{
  animation-name: dog-tongue;
 animation-duration: 1s;
 animation-iteration-count: infinite;
 
}


@keyframes dog-tongue{
 0% {height: 20px;}
 20% {height: 15px;}
 30% {height: 10px;}
 40% {height: 5px;}
}
.dog-body{
  width: 70px;
  height: 80px;
  background: #ddc78e;
  position: relative;
  left: 12px;
  top: -20px;
  border-radius: 50% 50% 40% 40%;
  z-index: -1;
  -webkit-box-shadow: -3px 4px 14px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 4px 14px -3px rgba(0,0,0,0.75);
box-shadow: -3px 4px 14px -3px rgba(0,0,0,0.75);
}

.collar{
  width:50px;
  height: 30px;
  border-top: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 5px solid red;
  border-left: 0 solid transparent;
  border-radius: 50%;
  position: relative;
  left: 10px;
  top: -5px;

}

.collar:before{
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background: white;
  position: absolute;
 top: 30px;
 left: 21px;
 border-radius: 50%;

}

.heart{
  width:7px;
  height: 7px;
  background: red;
  position: relative;
  top: 34px;
  left: 24px;
  transform: rotate(-45deg);
}

.heart:before, .heart:after{
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  position: absolute;
  top: -3px;
  left: 0px;
  background: red;
  border-radius: 50%;
}

.heart:after{
  top: 0px;
  left: 3px;
}

.dog-legs ul li{
 position: relative;
 top: -45px;
 left: 25px;
 width: 20px;
 height: 30px;
 background: #ddc78e;
 border-radius: 0 0 40px 40px;
 border-width: 2px; 
 border-style: solid;
 border-color: transparent rgba(70,64,49, 0.6) rgba(70,64,49, 0.6) rgba(70,64,49, 0.6);
}

.dog-legs ul li:nth-child(2){
 position: relative;
 left: 50px;
 top: -75px;
}

.dog-legs ul li:before{
  content: "";
  display: inline-block;
  position: absolute;
  top: 17px;
  left: -1px;
  background: rgba(70,64,49, 0.9);
  width: 18px;
  height: 10px;
  border-radius: 50%;
}

.coffee{
  position: absolute;
  left: 0px;
  top: 0px;
}

.coffee-bottom{
 background: #ebd8d0;
 width: 50px;
 height: 3px;
 position: absolute;
 top: 467px;
 left: 250px;
 border-radius: 50%;
 
}

.coffee-cup{
  background: #ebd8d0;
  height: 25px;
  width: 30px;
  position: absolute;
  z-index: 1;
  top: 445px;
  left: 260px;
  border-radius:5px 5px  10px 10px;
}

.coffee-cup:after{
  content: "";
  display: inline-block;
  width: 8px;
  height: 10px;
  border: 2px solid #ebd8d0;
  border-radius: 50%;
  position: relative;
  left: 18px;
  top: 2px;
}


.coffee-steam, .coffee-steam:after{
  text-decoration-line: overline underline;
  text-decoration-style: wavy;
  width:15px;
  height: 20px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  top:430px;
  left: 273px;

  border-color:transparent transparent transparent 
  #828083;

}

.coffee-steam:after{
  content:"";
  display: inline-block;
  position: relative;
  top: -8px;
  left: -11px;
  border-color:transparent 
  #828083 transparent transparent;
}

.post-it-1, .post-it-2, .post-it-3, .post-it-4{
   width: 200px;
   height: 200px;
   background: #f9f0ae;
   position: absolute;
   top: 100px;
   left: 800px;
   border-bottom-right-radius: 80px 15px;
   box-shadow:
    inset 10px 0 50px  #f7e485,
    inset -60px 0 120px #fff8d3;

   

}

.postits{
  position: absolute;
  top: 0px;
  left: 10px;
}

.post-it-2{
  left: 1150px;
}

.post-it-3{
  top: 400px;
}

.post-it-4{
  left: 1150px;
  top: 400px;
}

.post-it-1:after, .post-it-2:after, .post-it-3:after , .post-it-4:after{
  content: "";
  display: inline-block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -15px;
  left: -1px;
  z-index: -1;
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
}

.postits p{
   font-family: 'Cute Font', cursive;
  font-size: 30px;

  padding-top: 80px;
  font-weight: bold;
  color: #EB194B;
}

.flower{
  position: absolute;
  top: -10px;
  left: -10px;
  animation: rotate-flower 8s infinite linear;
  width: 90px;
  height: 90px;
}

@keyframes rotate-flower{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.middle{
  width: 20px; 
  height: 20px;
  position: absolute;
  left: 34px;
  top: 29px;
  background: #fc1;
  border-radius: 50%;
  z-index:1; 
}

.flower ul li {
  position: absolute;
  top: 17px;
  left: 25px;
  width: 25px;
  height: 20px;
  background:rgba(255, 87, 138, 0.7);
  border-radius: 90px 50%;
  transform: rotate(-90deg);

}

.flower ul li:nth-child(2){
  transform: rotate(-15deg);
  top: 18px;
  left: 40px;
}

.flower ul li:nth-child(3){
  top: 30px;
left: 45px;
transform: rotate(35deg);
}
.flower ul li:nth-child(4){
  top: 42px;
left: 39px;
transform: rotate(95deg);
}

.flower ul li:nth-child(5){
  top: 42px;
  left: 24px;
  transform: rotate(155deg);
}

.flower ul li:nth-child(6){
  top: 29px;
  left: 17px;
  transform: rotate(35deg);
}

.file{
  position: absolute;
  top: 15px;
  left: 15px;
}

.file:before, .file:after{
  content: "";
  position: absolute;
  top: -8px;
  left: 25px;
  display: inline-block;
  height: 10px;
  transform:rotate(45deg);
  border-right: 2px solid #6f6d70;
}

.file:after{
  border-top: 2px solid #6f6d70;
  border-right: 2px solid #6f6d70;

  transform: rotate(0);
  top: -8px;
  left: 29px;
 width: 10px;
 border-radius: 0 5px 0 0 ;
}


.file-top{
  position: relative;
  width: 23px;
  height: 12px;
  border: 2px solid #6f6d70;
  border-right: none;
  border-radius: 5px 0 0 0 ;
}

.file-top:before{
  position: absolute;
  content: "";
  display: inline-block;
  width: 20px;
  height: 15px;
 border: 2px solid #6f6d70;
 border-left: none;
 border-top: none;
  top: -7px;
  left: 17px;
}

.file-top:after{
  content: "";
  display: inline-block;
  position: absolute;
  top: -4px;
  right: -13px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid #6f6d70;
}

.file-bottom{
  position: relative;
  top: -1px;
  width: 41px;
  height: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent #6f6d70 #6f6d70 #6f6d70;
  border-radius: 0 0 5px 5px;
}

.opening-tag, .opening-tag:before, .slash, .closing-tag, .closing-tag:before{
  width: 5px;
  position: relative;
  left: 5px;
  height: 10px;
  border-right: 2px solid #6f6d70;
  transform: rotate(45deg);
}

.opening-tag:before, .closing-tag:before{
  content: "";
  display: inline-block;
  transform: rotate(75deg);
  position: absolute;
  left: 4px;
  top: 1px;
}


.slash{
  height: 16px;
  left: 15px;
  top: -10px;
  transform: rotate(25deg);
}

.closing-tag{
  top: -24px;
  left: 25px;
  transform: rotate(-45deg);
}

.closing-tag:before{
  transform: rotate(95deg);
  left: -5px;
  top: 1px;
}


.lamb{
  position: absolute;
  top: 20px;
  left: 20px;
}

.lamb-top{

  width: 50px;
  height: 50px;
  background: rgba(255, 140, 12, 0.5);
  border-radius: 100px 90px 100px 20px;
  transform: rotate(-45deg);
  transition: background 1s;
  transition: box-shadow 1s;
  transition-timing-function: ease-in-out;
 
}

.lamb-top:hover{
  background: rgb(255, 140, 12);
  -webkit-box-shadow: -3px -4px 30px 12px rgba(211,219,96,1);
-moz-box-shadow: -3px -4px 30px 12px rgba(211,219,96,1);
box-shadow: -3px -4px 30px 12px rgba(211,219,96,1);
}

.lamb-inside{
  width: 0px;
  height: 0px;
}


.lamb-inside ul li{
  position: relative;
  top: 5px;
  left: -17px;
  width: 20px;
  height: 80px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0, 0.5) transparent transparent transparent;
  transform: rotate(45deg);
  border-radius: 50%;
  transition: border-color 1s;
  transition-timing-function: ease-in-out;
}


.lamb-inside ul li:nth-child(1):before{
  position: absolute;
  top: 0px;
  left: 4px;
  content: "";
  display: inline-block; 
  width: 29px;
  height: 5px;
  border-bottom: 1px solid rgba(0,0,0, 0.5) ;
  border-radius: 40px;
}

.lamb-inside ul li:nth-child(2){
 left: -4px;
 top: -61px;
}

.lamb-inside ul li:nth-child(2):before, .lamb-inside ul li:nth-child(2):after{
  position: absolute;
  top: 3px;
  left: -5px;
  content: "";
  display: inline-block; 
  height: 30px;
  border-right: 1px solid rgba(0,0,0, 0.5);

  transform: rotate(-5deg);
}

.lamb-inside ul li:nth-child(2):after{
  border-left: 1px solid rgba(0,0,0, 0.5) ;
  border-right: none;
  transform: rotate(7deg);
  left: 2px;
  top: 4px;
}

.lamb-light ul li{
  position: absolute;
  top: -18px;
  left: 25px;
  width: 1px;
  height: 10px;
  background: rgba(255, 140, 12, 0.3);
  transition: background 2s;
  transition-timing-function: ease;
}

.lamb-ligth:hover{
  background: rgb(255, 140, 12)
}

.lamb-light ul li:nth-child(2){
  top: -7px;
  left: 50px;
  transform: rotate(45deg);
}

.lamb-light ul li:nth-child(3){
  top:20px;
  left: 60px;
  transform: rotate(85deg);
}

.lamb-light ul li:nth-child(4){
  top:45px;
  left: 50px;
  transform: rotate(135deg);
}

.lamb-light ul li:nth-child(5){
  top:55px;
  left: 30px;
  transform: rotate(170deg);
}

.lamb-light ul li:nth-child(6){
  top:20px;
  left: -10px;
  transform: rotate(-80deg);
}

.lamb-light ul li:nth-child(7){
  top:-3px;
  left: 0px;
  transform: rotate(-45deg);
}

.lamb-bottom{
   width: 10px;
   height: 10px;
   background: black;
  position: relative;
  top: 5px;
  left: 20px;
  border-radius: 0 0  5px 5px;
}

.email{
  position: absolute;
  top: 30px;
  left: 20px;
  width: 10px;
  height: 10px;
  border-left: 20px solid #43456b;
  border-right: 20px solid #43456b;
  border-bottom: 18px solid transparent;
  border-top: 18px solid #fdb341;
}

.email:before, .email:after{
  content: "";
  display: inline-block;
  position: absolute;
  width: 2px;
  top:-36px;
  left: -19.5px;
  border-bottom: 18px solid #fdb341;
  border-left: 18.5px solid transparent;
  border-right: 18.5px solid transparent;
}

.email:after{
  border-bottom: 24px solid #585a7c;
  border-left: 19px solid transparent;
  border-right: 19px solid transparent;
  top:-6px;
  left: -20px;
}

.email span{
  color: white;
  font-size: 15px;
  position: relative;
  top: -28px;
  left: -6px;
}


.post-it-1 p:hover, .post-it-2 p:hover, .post-it-3 p:hover, .post-it-4 p:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  color: rgb(60,43,144);
  cursor: pointer;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.css-art p{
  font-size:13px;
  font-family: 'Indie Flower', cursive;
  position: relative;
  left: 1210px;
  top: 525px;
  color: black;
}


.floor{
   width: 100%;
   height: 40vh;
   position:absolute;
  background-image: url('./images/wooden-floor.jpg');
   z-index: -10;
   top: 630px;
   background-size: cover;
}

.bio, .coder-cat{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 4em;
}

.coder-cat{
justify-content: space-between; 
padding-right: 4em;
}
.bio img{
 width: 30%;
 height: auto;
}

.coder-cat img{
width: 40%;


}
.bio .text, .coder-cat .text{
/* width: auto; */
  color: white;
  padding-left: 5em;

}

.x{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0%;
  left: 97%;
  border-radius:0 10px 0 10px;
  font-size: 15px;
  background: white;
}

#flying-2{

box-sizing: border-box;
width: 100%; 
/* background-color: rgba(2,151,219, 0.8) !important; */
} 

#flying-2 .text{
 box-sizing: border-box;
 margin: 0;
 text-align: center;

}

#flying-2 img{
float: left;
height: 20vh;
box-sizing: border-box;
margin-top: 0;
width: 50%;
}

.h3{
margin: 0;
padding: 0;
}

.text-container{
position: relative;
box-sizing: border-box;
width: auto;

 height: 15vh;
 /* overflow: scroll; */

}

.awssld{
  width: 60% !important; 
  z-index:6 !important;
  margin: 30px auto !important;
}


.awssld__content{

background-color: #2E9497 !important; 
border-radius: 15px;
padding: 0 !important;

}
#awssld_container{
  width: 100%;

}

.awssld__bullets{
position: relative !important;
bottom: 40px !important;

}


.ruby-img, .rails-img, .react-img, .js-img, .active-record, .html-img, .css-img, .mq-img, .redux-img, .heroku-img, .sqlite-img{
  width: 100%;
}

.rails-img, .mq-img, .redux-img, .sqlite-img{
  background-size: 80%;
}

.js-img, .html-img, .heroku-img{
  background-size: cover;
}

/* .ruby-img{
  background-image: url('./images/ruby.jpg');
} */

.rails-img{
  background-image: url('./images/rails.png');
}

.react-img{
  background-image: url('./images/react.gif');
}

.js-img{
  background-image: url('./images/javascript.jpg');
}

.active-record{
  background-image: url('./images/active-record.png');
}

.html-img{
  background-image: url('./images/html.jpg');
}

.css-img{
  background-image: url('./images/css.jpg');
  background-size: 120%;
}

.mq-img{
  background-image: url('./images/mq.png');
}

.redux-img{
  background-image: url('./images/redux.png');
}

.heroku-img{
  background-image: url('./images/heroku.png');
}

.sqlite-img{
  background-image: url('./images/sqlite.png');
}
.linked-in-div a{
display: block;
width: 100%;
}

.linked-in-div a img{
width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
.linked-in-div a img:hover {
  animation: img-spin infinite 1s linear;
}
}

@keyframes img-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

@media only screen and (min-width: 300px){

  .floor{
    width: 405%;
    left: 0;
  
  }

  body{
    height: 100vh;
  }

  .myname{
     position: absolute;
    left:950px;
      width: 300px;
    z-index: 6;
  }

  .postits{
    left: -380px;
    top:900px;
  }

  .post-it-1, .post-it-2, .post-it-3, .post-it-4{
    width:500px;
    height: 500px;
    left: 500px;
  }

  .post-it-2{
    left: 1100px;
  }
  
  .post-it-3{
    top: 700px;
  }

  .post-it-4{
    left: 1100px;
    top: 700px;
  }

  .post-it-1:after, .post-it-2:after, .post-it-3:after , .post-it-4:after{
    content: "";
    display: inline-block;
    width: 500px;
    height: 500px;
    position: absolute;
    top: -15px;
    left: -1px;
    z-index: -1;
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  }

  .postits p{
    padding-top: 200px;
  }

  .css-art p{
    top: -150px;
    left: 1450px;
  }

  .table{
    left: 450px;
  }

  .table-front{
    left: 460px;
  }

  .chair{
    left: 600px;
  }

  .pencil-jar{
    left: 850px;
  }

  .dog{
    left: 950px;
  }

  .t-shirt{
    left: 625px;
  }

  .head{
    left: 640px;
  }

  .neck{
    left: 675px;
  }

  .hair{
    left: 620px;
  }

  .computer{
    left: 620px;
  }

  .coffee{
    left: 290px;
  }

  .garbage-can{
    left: 350px;
  }

  .shelf{
    left: 300px;
  }

  .awssld{
    position: absolute !important;
    top: 1150px;
    left: 290px;
    width: 250% !important; 
    height: 120% !important;
    z-index:6 !important;
    margin: 30px auto !important;
    max-width: none !important;
  }

  .awssld__container{
    height: 100% !important;
  }
  
  .awssld__controls{
    visibility: visible !important;
  }

  .ruby-img, .heroku-img{
   height: 120vh;
  }
}

@media only screen and (min-width: 350px){
  .floor{
    width: 405%;
    left: 0;
  
  }

  .myname{
     position: absolute;
    left:1050px;
      width: 300px;
  
  }

  .postits{
    left: -300px;
    top:1000px;
  }

  .post-it-1, .post-it-2, .post-it-3, .post-it-4{
    width:500px;
    height: 500px;
    left: 500px;
  }

  .post-it-2{
    left: 1100px;
  }
  
  .post-it-3{
    top: 700px;
  }

  .post-it-4{
    left: 1100px;
    top: 700px;
  }

  .post-it-1:after, .post-it-2:after, .post-it-3:after , .post-it-4:after{
    content: "";
    display: inline-block;
    width: 500px;
    height: 500px;
    position: absolute;
    top: -15px;
    left: -1px;
    z-index: -1;
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  }

  .postits p{
    padding-top: 200px;
  }

  .css-art p{
    top: -150px;
    left: 1450px;
  }

  .table{
    left: 450px;
  }

  .table-front{
    left: 460px;
  }

  .chair{
    left: 600px;
  }

  .pencil-jar{
    left: 850px;
  }

  .dog{
    left: 950px;
  }

  .t-shirt{
    left: 625px;
  }

  .head{
    left: 640px;
  }

  .neck{
    left: 675px;
  }

  .hair{
    left: 620px;
  }

  .computer{
    left: 620px;
  }

  .coffee{
    left: 290px;
  }

  .garbage-can{
    left: 350px;
  }

  .shelf{
    left: 300px;
  }

  .awssld{
    position: absolute !important;
    top: 1200px;
    left: 320px;
    width: 230% !important; 
    height: 110% !important;
    z-index:6 !important;
    margin: 30px auto !important;
    max-width: none !important;
  }

  .awssld__container{
    height: 100% !important;
  }
}

@media only  screen and (min-width: 400px){
  .floor{
    width: 325%;
  }


  .myname{
    position: absolute;
    left:900px;
    
  
  }

  .postits{
    left: -370px;
    top: 950px;
  }

  .post-it-1, .post-it-2, .post-it-3, .post-it-4{
    width:500px;
    height: 500px;
    left: 500px;
  }

  .post-it-2{
    left: 1100px;
  }
  
  .post-it-3{
    top: 700px;
  }

  .post-it-4{
    left: 1100px;
    top: 700px;
  }

  .post-it-1:after, .post-it-2:after, .post-it-3:after , .post-it-4:after{
    content: "";
    display: inline-block;
    width: 500px;
    height: 500px;
    position: absolute;
    top: -15px;
    left: -1px;
    z-index: -1;
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  }

  .postits p{
    padding-top: 200px;
  }

  .css-art p{
    top: -140px;
    left: 1450px;
  }

  .table{
    left: 450px;
  }

  .table-front{
    left: 460px;
  }

  .chair{
    left: 600px;
  }

  .pencil-jar{
    left: 850px;
  }

  .dog{
    left: 950px;
  }

  .t-shirt{
    left: 625px;
  }

  .head{
    left: 640px;
  }

  .neck{
    left: 675px;
  }

  .hair{
    left: 620px;
  }

  .computer{
    left: 620px;
  }

  .coffee{
    left: 290px;
  }

  .garbage-can{
    left: 350px;
  }

  .shelf{
    left: 300px;
  }

  .awssld{
    position: absolute !important;
    top: 1200px;
    left: 260px;
    width: 200% !important; 
    height: 100% !important;
    z-index:6 !important;
    margin: 30px auto !important;
    max-width: none !important;
  }

  .awssld__container{
    height: 100% !important;
  }
  
  .x{
    top: 0;
  }
}


@media only screen and (min-width: 500px){
  .floor{
    top: 620px;
    width: 240%;
    left: 0;
    height: 60vh;
  }

  .myname{
     position: absolute;
    left:1000px;
      width: 300px;
  
  }

  .postits{
    left: -330px;
    top:850px;
  }

  .post-it-1, .post-it-2, .post-it-3, .post-it-4{
    width:500px;
    height: 500px;
    left: 500px;
  }

  .post-it-2{
    left: 1100px;
  }
  
  .post-it-3{
    top: 700px;
  }

  .post-it-4{
    left: 1100px;
    top: 700px;
  }

  .post-it-1:after, .post-it-2:after, .post-it-3:after , .post-it-4:after{
    content: "";
    display: inline-block;
    width: 500px;
    height: 500px;
    position: absolute;
    top: -15px;
    left: -1px;
    z-index: -1;
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  }

  .postits p{
    padding-top: 200px;
  }

  .css-art p{
    top: -140px;
    left: 1450px;
  }

  .table{
    left: 450px;
  }

  .table-front{
    left: 460px;
  }

  .chair{
    left: 600px;
  }

  .pencil-jar{
    left: 850px;
  }

  .dog{
    left: 950px;
  }

  .t-shirt{
    left: 625px;
  }

  .head{
    left: 640px;
  }

  .neck{
    left: 675px;
  }

  .hair{
    left: 620px;
  }

  .computer{
    left: 620px;
  }

  .coffee{
    left: 290px;
  }

  .garbage-can{
    left: 350px;
  }

  .shelf{
    left: 300px;
  }
  .awssld{
    position: absolute !important;
    top: 1100px;
    left: 290px;
    width: 150% !important; 
    height: 205% !important;
    z-index:6 !important;
    margin: 30px auto !important;
    max-width: none !important;
  }

  .awssld__container{
    height: 100% !important;
  }

}

@media only screen and (min-width: 600px){
  .floor{
    top: 620px;
    width: 220%;
    left: 0;
    height: 60vh;
  }

  .myname{
     position: absolute;
    left:1050px;
      width: 300px;
  
  }

  .postits{
    left: -330px;
    top:850px;
  }

  .post-it-1, .post-it-2, .post-it-3, .post-it-4{
    width:500px;
    height: 500px;
    left: 500px;
  }

  .post-it-2{
    left: 1100px;
  }
  
  .post-it-3{
    top: 700px;
  }

  .post-it-4{
    left: 1100px;
    top: 700px;
  }

  .post-it-1:after, .post-it-2:after, .post-it-3:after , .post-it-4:after{
    content: "";
    display: inline-block;
    width: 500px;
    height: 500px;
    position: absolute;
    top: -15px;
    left: -1px;
    z-index: -1;
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  }

  .postits p{
    padding-top: 200px;
  }

  .css-art p{
    top: -140px;
    left: 1450px;
  }

  .table{
    left: 450px;
  }

  .table-front{
    left: 460px;
  }

  .chair{
    left: 600px;
  }

  .pencil-jar{
    left: 850px;
  }

  .dog{
    left: 950px;
  }

  .t-shirt{
    left: 625px;
  }

  .head{
    left: 640px;
  }

  .neck{
    left: 675px;
  }

  .hair{
    left: 620px;
  }

  .computer{
    left: 620px;
  }

  .coffee{
    left: 290px;
  }

  .garbage-can{
    left: 350px;
  }

  .shelf{
    left: 300px;
  }

  .awssld{
    position: absolute !important;
    top: 1100px;
    left: 280px;
    width: 130% !important; 
    height: 190% !important;
    z-index:6 !important;
    margin: 30px auto !important;
    max-width: none !important;
  }

  .awssld__container{
    height: 100% !important;
  }

}

@media only screen and (min-width: 700px){
  .floor{
    top: 620px;
    width: 190%;
    left: 0;
    height: 40vh;
  }

  .myname{
     position: absolute;
    left:1050px;
      width: 300px;
  
  }

  .postits{
    left: -330px;
    top: 730px;
  }

  .post-it-1, .post-it-2, .post-it-3, .post-it-4{
    width:500px;
    height: 500px;
    left: 500px;
  }

  .post-it-2{
    left: 1100px;
  }
  
  .post-it-3{
    top: 700px;
  }

  .post-it-4{
    left: 1100px;
    top: 700px;
  }

  .post-it-1:after, .post-it-2:after, .post-it-3:after , .post-it-4:after{
    content: "";
    display: inline-block;
    width: 500px;
    height: 500px;
    position: absolute;
    top: -15px;
    left: -1px;
    z-index: -1;
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  }

  .postits p{
    padding-top: 200px;
  }

  .css-art p{
    top: -140px;
    left: 1450px;
  }

  .table{
    left: 450px;
  }

  .table-front{
    left: 460px;
  }

  .chair{
    left: 600px;
  }

  .pencil-jar{
    left: 850px;
  }

  .dog{
    left: 950px;
  }

  .t-shirt{
    left: 625px;
  }

  .head{
    left: 640px;
  }

  .neck{
    left: 675px;
  }

  .hair{
    left: 620px;
  }

  .computer{
    left: 620px;
  }

  .coffee{
    left: 290px;
  }

  .garbage-can{
    left: 350px;
  }

  .shelf{
    left: 300px;
  }

  .awssld{
    position: absolute !important;
    top: 1000px;
    left: 285px;
    width: 110% !important; 
    height: 70% !important;
    z-index:6 !important;
    margin: 30px auto !important;
    max-width: none !important;
  }

  .awssld__container{
    height: 100% !important;
  }

}

@media only screen and (min-width: 730px){
  .awssld{
    position: absolute !important;
    top: 1000px;
    left: 285px;
    width: 120% !important; 
    height: 160% !important;
    z-index:6 !important;
    margin: 30px auto !important;
    max-width: none !important;
  }

  .awssld__container{
    height: 100% !important;
  }
}

@media only screen and (min-width: 760px){
  .awssld{
    position: absolute !important;
    top: 960px;
    left: 300px;
    width: 110% !important; 
    height: 70% !important;
    z-index:6 !important;
    margin: 30px auto !important;
    max-width: none !important;
  }
  
  .awssld__container{
    height: 100% !important;
  }
}

@media only screen and (min-width: 800px){
  .awssld{
    position: absolute !important;
    top: 1000px;
    left: 285px;
    width: 110% !important; 
    height: 180% !important;
    z-index:6 !important;
    margin: 30px auto !important;
    max-width: none !important;
  }

  .awssld__container{
    height: 100% !important;
  }

 .myname{
   left: 900px;
 }
}

@media only screen and (min-width: 1000px){


.floor{
  width: 190%;
  left: 0;
  height: 840px;
}

.myname{
   position: absolute;
  left:1050px;
    width: 300px;

}

.postits{
  left:330px;
  top:30px;
}

.post-it-1, .post-it-2, .post-it-3, .post-it-4{
  width:200px;
  height: 200px;
  left: 650px;
}

.post-it-2{
  left: 950px;
}

.post-it-3{
  top: 350px;
}

.post-it-4{
  left: 950px;
  top: 350px;
}

.post-it-1:after, .post-it-2:after, .post-it-3:after , .post-it-4:after{
  content: "";
  display: inline-block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -15px;
  left: -1px;
  z-index: -1;
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
}

.postits p{
  padding-top: 90px;
}

.css-art p{
  top: 460px;
  left: 1000px;
}

.table{
  left: 140px;
}

.table-front{
  left: 150px;
}

.chair{
  left: 310px;
}

.pencil-jar{
  left: 500px;
}

.dog{
  left: 650px;
}

.t-shirt{
  left: 334px;
}

.head{
  left: 350px;
}

.neck{
  left: 385px;
}

.hair{
  left: 330px;
}

.computer{
  left: 330px;
}

.coffee{
  left: 0px;
}

.garbage-can{
  left: 40px;
}

.shelf{
  left:600px;
}

.awssld{
  position: absolute !important;
  top: 160px;
  left: 330px;
  width: 140% !important; 
  height: 130% !important;
  z-index:6 !important;
  margin: 30px auto !important;
  max-width: none !important;
}

.awssld__container{
  height: 100% !important;
}
}

@media only screen and (min-width: 1300px){


  .floor{
    width: 100%;
    left: 0;
    height: 410px;
  }
  
  .myname{
     position: absolute;
    left:950px;
      width: 300px;
  
  }
  
  .postits{
    left:130px;
    top:30px;
  }
  
  .post-it-1, .post-it-2, .post-it-3, .post-it-4{
    width:200px;
    height: 200px;
    left: 650px;
  }
  
  .post-it-2{
    left: 950px;
  }
  
  .post-it-3{
    top: 350px;
  }
  
  .post-it-4{
    left: 950px;
    top: 350px;
  }
  
  .post-it-1:after, .post-it-2:after, .post-it-3:after , .post-it-4:after{
    content: "";
    display: inline-block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -15px;
    left: -1px;
    z-index: -1;
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  }
  
  .postits p{
    padding-top: 90px;
  }
  
  .css-art p{
    top: 460px;
    left: 1000px;
  }
  
  .table{
    left: 140px;
  }
  
  .table-front{
    left: 150px;
  }
  
  .chair{
    left: 310px;
  }
  
  .pencil-jar{
    left: 500px;
  }
  
  .dog{
    left: 650px;
  }
  
  .t-shirt{
    left: 334px;
  }
  
  .head{
    left: 350px;
  }
  
  .neck{
    left: 385px;
  }
  
  .hair{
    left: 330px;
  }
  
  .computer{
    left: 330px;
  }
  
  .coffee{
    left: 0px;
  }
  
  .garbage-can{
    left: 40px;
  }
  
  .shelf{
    left:600px;
  }
  .awssld{
    position: absolute !important;
    top: 100px;
    left: 300px;
    width: 70% !important; 
    height: 60% !important;
    z-index:6 !important;
    margin: 30px auto !important;
    max-width: none !important;
  }
  
  .awssld__container{
    height: 100% !important;
  }
 
  }

@media only screen and (min-height: 1100px){
  .floor{
    top: 620px;
    width: 200%;
    left: 0;
    height: 20vh;
  }

  .myname{
     position: absolute;
    left:1150px;
      width: 300px;
  
  }

  .postits{
    left: -300px;
    top: 850px;
  }

  .post-it-1, .post-it-2, .post-it-3, .post-it-4{
    width:500px;
    height: 500px;
    left: 500px;
  }

  .post-it-2{
    left: 1100px;
  }
  
  .post-it-3{
    top: 700px;
  }

  .post-it-4{
    left: 1100px;
    top: 700px;
  }

  .post-it-1:after, .post-it-2:after, .post-it-3:after , .post-it-4:after{
    content: "";
    display: inline-block;
    width: 500px;
    height: 500px;
    position: absolute;
    top: -15px;
    left: -1px;
    z-index: -1;
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  }

  .postits p{
    padding-top: 200px;
  }

  .css-art p{
    top: -140px;
    left: 1450px;
  }

  .table{
    left: 550px;
  }

  .table-front{
    left: 560px;
  }

  .chair{
    left: 700px;
  }

  .pencil-jar{
    left: 950px;
  }

  .dog{
    left: 1050px;
  }

  .t-shirt{
    left: 725px;
  }

  .head{
    left: 740px;
  }

  .neck{
    left: 775px;
  }

  .hair{
    left: 720px;
  }

  .computer{
    left: 720px;
  }

  .coffee{
    left: 390px;
  }

  .garbage-can{
    left: 450px;
  }

  .shelf{
    left: 400px;
  }

  .awssld{
    position: absolute !important;
    top: 1100px;
    left: 340px;
    width: 110% !important; 
    height: 70% !important;
    z-index:6 !important;
    margin: 30px auto !important;
    max-width: none !important;
  }

  .awssld__container{
    height: 100% !important;
  }

}
@media only screen and (min-height: 1300px){
  .floor{
    top: 620px;
    width: 190%;
    left: 0;
    height: 20vh;
  }

  .myname{
     position: absolute;
    left:1550px;
      width: 300px;
  
  }

  .postits{
    left: -100px;
    top: 930px;
  }

  .post-it-1, .post-it-2, .post-it-3, .post-it-4{
    width:500px;
    height: 500px;
    left: 500px;
  }

  .post-it-2{
    left: 1100px;
  }
  
  .post-it-3{
    top: 700px;
  }

  .post-it-4{
    left: 1100px;
    top: 700px;
  }

  .post-it-1:after, .post-it-2:after, .post-it-3:after , .post-it-4:after{
    content: "";
    display: inline-block;
    width: 500px;
    height: 500px;
    position: absolute;
    top: -15px;
    left: -1px;
    z-index: -1;
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  }

  .postits p{
    padding-top: 200px;
  }

  .css-art p{
    top: -140px;
    left: 1450px;
  }

  .table{
    left: 650px;
  }

  .table-front{
    left: 660px;
  }

  .chair{
    left: 800px;
  }

  .pencil-jar{
    left: 1050px;
  }

  .dog{
    left: 1150px;
  }

  .t-shirt{
    left: 825px;
  }

  .head{
    left: 840px;
  }

  .neck{
    left: 875px;
  }

  .hair{
    left: 820px;
  }

  .computer{
    left: 820px;
  }

  .coffee{
    left: 490px;
  }

  .garbage-can{
    left: 550px;
  }

  .shelf{
    left: 300px;
  }

  .awssld{
    position: absolute !important;
    top: 1200px;
    left: 550px;
    width: 80% !important; 
    height: 50% !important;
    z-index:6 !important;
    margin: 30px auto !important;
    max-width: none !important;
  }
  
  .awssld__container{
    height: 100% !important;
  }

}

@media only screen and (min-width: 1400px){
  .awssld{
    position: absolute !important;
    top: 100px;
    left: 350px;
    width: 60% !important; 
    height: 80% !important;
    z-index:6 !important;
    margin: 30px auto !important;
    max-width: none !important;
  }
  
  .awssld__container{
    height: 100% !important;
  }
}